<form class="form-o-course" name="form-o-course">
  <h3 class="form-ttl">Хотите записаться на курсы?</h3>
  <p class="text-form">Заполните короткую форму и наш менеджер свяжется с Вами</p>
  <input class="input-field" type="text" minlength="3" maxlength="60" placeholder="Имя и Фамилия"
         name="user-name">
  <input id="user-phone" class="input-field" type="text" inputmode="tel" placeholder="+380(хх) хх хх ххх"
         name="user-phone">
  <input class="btn-def" type="submit" value="Связаться со мной" id="send-request">
</form>