<section class="tabs-element payment-tabs">
    <div class="container">
        <ul class="nav nav-pills mb-3" id="enroll-tab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" id="enroll-in-courses" data-toggle="pill" href="#enroll-in" role="tab"
                    aria-controls="pills-home" aria-selected="true">Записаться на курсы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="course-payment" data-toggle="pill" href="#pills-course" role="tab"
                    aria-controls="pills-course" aria-selected="false">Оплата курса</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="partial-payment" data-toggle="pill" href="#pills-partial" role="tab"
                    aria-controls="pills-partial" aria-selected="false">Частичная оплата</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active in" id="enroll-in" role="tabpanel"  aria-labelledby="enroll-in-courses">
                <div class="tab-body">
                    <div class="l-section">
                       <form action="#" class="course-form">
                           <input type="text" name="name" placeholder="Имя и Фамилия" required>
                           <input type="mail" name="email" placeholder="E-mail" required>
                           <input type="text" name="promocode" placeholder="Промокод" required>
                           <input type="tel" name="phone" placeholder="+380(хх) хх хх ххх" required>
                           <input type="text" name="quantity" placeholder="Количество человек" required>
                           <button type="submit" class="btn-dark">Записаться на курс</button>
                       </form>
                    </div>
                    <div class="r-section">
                        <p>Осталось 12 мест</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-course" role="tabpanel" aria-labelledby="course-payment">
                <div class="tab-body">
                    <div class="l-section">
                        <form action="#" class="course-form">
                            <input type="text" name="name" placeholder="Имя и Фамилия" required>
                            <input type="mail" name="email" placeholder="E-mail" required>
                            <input type="text" name="promocode" placeholder="Промокод" required>
                            <input type="tel" name="phone" placeholder="+380(хх) хх хх ххх" required>
                            <input type="text" name="quantity" placeholder="Количество человек" required>
                            <button type="submit" class="btn-dark">Записаться на курс</button>
                        </form>
                    </div>
                    <div class="r-section">
                        <p>Осталось 12 мест</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-partial" role="tabpanel" aria-labelledby="partial-payment">
                <div class="tab-body">
                    <div class="l-section">
                        <form action="#" class="course-form">
                            <input type="text" name="name" placeholder="Имя и Фамилия" required>
                            <input type="mail" name="email" placeholder="E-mail" required>
                            <input type="text" name="quantity" placeholder="Количество человек" required>                            
                            <input type="tel" name="phone" placeholder="+380(хх) хх хх ххх" required>
                            <input type="text" name="prepayment-amount" placeholder="Сумма предоплаты" required>
                            <input type="text" name="promocode" placeholder="Промокод" required>
                            <button type="submit" class="btn-dark">Записаться на курс</button>
                        </form>
                    </div>
                    <div class="r-section">
                        <p>Осталось 12 мест</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>