<div class="slider-questions">
  <div class="q-slider-item">
      <img src="img/slider2/1.png" alt="img">
  </div>
  <div class="q-slider-item">
      <img src="img/slider2/2.png" alt="img">
  </div>
  <div class="q-slider-item">
      <img src="img/slider2/3.png" alt="img">
  </div>
  <div class="q-slider-item">
      <img src="img/slider2/4.png" alt="img">
  </div>
  <div class="q-slider-item">
      <img src="img/slider2/2.png" alt="img">
  </div>
</div>