<div class="container">
    <div class="wrap-content">
        <div class="container-slider-course">                         
            <div class="deck-slider">
                <h2 class="block-title">Ближайшие курсы</h2>
                <p>Академия Андре Тан поможет стать профессионалом в fashion индустрии. Обучит профессиям будущего с нуля. И даст возможность получить работу в мире моды</p>
                <p>Академия Андре Тан поможет стать профессионалом в fashion индустрии. Обучит профессиям будущего с нуля. И даст возможность получить работу в мире моды</p>
            </div>
            <div class="slid-wrap">
                <h2 class="block-title mob-only">Ближайшие курсы</h2> 
                <div class="slider-pre-wrap">
                    <div class="nav-slider">
                        <button class="btn-prev">
                            <svg width="15" height="11" viewBox="0 0 15 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.23984 0.503656C5.43986 0.303632 5.75476 0.303632 5.95479 0.503656C6.14806 0.696923 6.14806 1.01858 5.95479 1.2114L2.32957 4.83662H14.2923C14.5712 4.83662 14.8 5.05827 14.8 5.33713C14.8 5.616 14.5712 5.84485 14.2923 5.84485H2.32957L5.95479 9.46332C6.14806 9.66334 6.14806 9.98545 5.95479 10.1783C5.75476 10.3783 5.43986 10.3783 5.23984 10.1783L0.7564 5.69484C0.563133 5.50157 0.563133 5.17991 0.7564 4.98709L5.23984 0.503656Z"
                                    fill="black"/>
                            </svg>
                        </button>
                        <button class="btn-next">
                            <svg width="15" height="11" viewBox="0 0 15 11" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.81022 0.963392L9.81063 0.963805L13.4359 4.58903L14.2894 5.44258H13.0823H1.11956C1.11652 5.44258 1.11489 5.44311 1.11397 5.44349C1.11358 5.44365 1.11322 5.44383 1.11289 5.44402C1.11262 5.44417 1.11236 5.44434 1.11213 5.4445C1.11247 5.44524 1.11326 5.44655 1.11468 5.44797C1.11623 5.44952 1.11764 5.45031 1.11833 5.45061C1.11867 5.45075 1.1188 5.45081 1.11956 5.45081H13.0823H14.291L13.4355 6.3047L9.81582 9.91765C9.81393 9.92001 9.81213 9.9238 9.81213 9.92945C9.81213 9.93063 9.81222 9.93157 9.81233 9.93226C9.81321 9.93303 9.81386 9.9335 9.81426 9.93376L9.81527 9.93434C9.81529 9.93435 9.81499 9.93425 9.81455 9.93425C9.81438 9.93425 9.81424 9.93426 9.81412 9.93428L9.81484 9.93376C9.81547 9.93334 9.81672 9.93243 9.81848 9.93067L14.3019 5.44724L14.6555 5.80079L14.3019 5.44724L14.3023 5.44701L14.3019 5.4466L9.81848 0.963167C9.81672 0.96141 9.81547 0.960496 9.81484 0.960077L9.81384 0.959499C9.81387 0.95951 9.81415 0.959595 9.81455 0.959595C9.81495 0.959595 9.81523 0.959511 9.81527 0.959499L9.81426 0.960077C9.81364 0.960496 9.81239 0.961409 9.81063 0.963167L9.81022 0.963392Z"
                                    fill="white" stroke="white"/>
                            </svg>
                        </button>
                    </div>
                    <div class="slider-course">
                        <div class="wrap-slider-item">
                            <div class="slider-item">
                                <img src="img/slider-img/1.png" alt="img">
                                <div class="more-course-el">
                                    <h3 class="title-course">Дизайн одежды</h3>
                                </div>
                                <div class="more-course">
                                    <p class="type-course">Обучающий курс</p>
                                    <h3 class="title-course">Дизайн одежды</h3>
                                    <div class="duration-training">
                                        <span>Длительность обучения</span>
                                        <span class="duration">3 месяца</span>
                                    </div>
                                    <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                                    <a href="course-detail.html" class="more-training">Подробнее</a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <img src="img/slider-img/2.png" alt="img">
                                <div class="more-course-el">
                                    <h3 class="title-course">Fashion стилист</h3>
                                </div>
                                <div class="more-course">
                                    <p class="type-course">Обучающий курс</p>
                                    <h3 class="title-course">Fashion стилист</h3>
                                    <div class="duration-training">
                                        <span>Длительность обучения</span>
                                        <span class="duration">3 месяца</span>
                                    </div>
                                    <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                                    <a href="course-detail.html" class="more-training">Подробнее</a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <img src="img/slider-img/3.png" alt="img">
                                <div class="more-course-el">
                                    <h3 class="title-course">Fashion management</h3>
                                </div>
                                <div class="more-course">
                                    <p class="type-course">Обучающий курс</p>
                                    <h3 class="title-course">Fashion management</h3>
                                    <div class="duration-training">
                                        <span>Длительность обучения</span>
                                        <span class="duration">3 месяца</span>
                                    </div>
                                    <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                                    <a href="course-detail.html" class="more-training">Подробнее</a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <img src="img/slider-img/4.png" alt="img">
                                <div class="more-course-el">
                                    <h3 class="title-course">Крой и шитье Трикотажные изделия</h3>
                                </div>
                                <div class="more-course">
                                    <p class="type-course">Обучающий курс</p>
                                    <h3 class="title-course">Крой и шитье Трикотажные изделия</h3>
                                    <div class="duration-training">
                                        <span>Длительность обучения</span>
                                        <span class="duration">3 месяца</span>
                                    </div>
                                    <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                                    <a href="#" class="more-training">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="wrap-slider-item">
                            <div class="slider-item">
                                <img src="img/slider-img/1.png" alt="img">
                                <div class="more-course-el">
                                    <h3 class="title-course">Дизайн одежды</h3>
                                </div>
                                <div class="more-course">
                                    <p class="type-course">Обучающий курс</p>
                                    <h3 class="title-course">Дизайн одежды</h3>
                                    <div class="duration-training">
                                        <span>Длительность обучения</span>
                                        <span class="duration">3 месяца</span>
                                    </div>
                                    <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                                    <a href="#" class="more-training">Подробнее</a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <img src="img/slider-img/2.png" alt="img">
                                <div class="more-course-el">
                                    <h3 class="title-course">Fashion стилист</h3>
                                </div>
                                <div class="more-course">
                                    <p class="type-course">Обучающий курс</p>
                                    <h3 class="title-course">Fashion стилист</h3>
                                    <div class="duration-training">
                                        <span>Длительность обучения</span>
                                        <span class="duration">3 месяца</span>
                                    </div>
                                    <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                                    <a href="#" class="more-training">Подробнее</a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <img src="img/slider-img/3.png" alt="img">
                                <div class="more-course-el">
                                    <h3 class="title-course">Fashion management</h3>
                                </div>
                                <div class="more-course">
                                    <p class="type-course">Обучающий курс</p>
                                    <h3 class="title-course">Fashion management</h3>
                                    <div class="duration-training">
                                        <span>Длительность обучения</span>
                                        <span class="duration">3 месяца</span>
                                    </div>
                                    <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                                    <a href="#" class="more-training">Подробнее</a>
                                </div>
                            </div>
                            <div class="slider-item">
                                <img src="img/slider-img/4.png" alt="img">
                                <div class="more-course-el">
                                    <h3 class="title-course">Крой и шитье Трикотажные изделия</h3>
                                </div>
                                <div class="more-course">
                                    <p class="type-course">Обучающий курс</p>
                                    <h3 class="title-course">Крой и шитье Трикотажные изделия</h3>
                                    <div class="duration-training">
                                        <span>Длительность обучения</span>
                                        <span class="duration">3 месяца</span>
                                    </div>
                                    <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                                        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                                    <a href="#" class="more-training">Подробнее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>