@font-face
  font-family: "Montserrat-Medium"
  src:url("../fonts/Montserrat-Medium/Montserrat-Medium.eot") /* IE9 Compat Modes */
  src:url("../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  src:url("../fonts/Montserrat-Medium/Montserrat-Medium.otf") format("opentype"), /* Open Type Font */
  src:url("../fonts/Montserrat-Medium/Montserrat-Medium.svg") format("svg"), /* Legacy iOS */
  src:url("../fonts/Montserrat-Medium/Montserrat-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
  src:url("../fonts/Montserrat-Medium/Montserrat-Medium.woff") format("woff"), /* Modern Browsers */
  src:url("../fonts/Montserrat-Medium/Montserrat-Medium.woff2") format("woff2") /* Modern Browsers */
  font-weight: normal
  font-style: normal


@font-face 
  font-family: "Montserrat-Regular"
  src:url("../fonts/Montserrat-Regular/Montserrat-Regular.eot") /* IE9 Compat Modes */
  src:url("../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  src:url("../fonts/Montserrat-Regular/Montserrat-Regular.otf") format("opentype"), /* Open Type Font */
  src:url("../fonts/Montserrat-Regular/Montserrat-Regular.svg") format("svg"), /* Legacy iOS */
  src:url("../fonts/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  src:url("../fonts/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
  src:url("../fonts/Montserrat-Regular/Montserrat-Regular.woff2") format("woff2") /* Modern Browsers */
  font-weight: normal
  font-style: normal


@font-face 
  font-family: "Academy"
  src:url("../fonts/academy/ACADEMY.eot") /* IE9 Compat Modes */
  src:url("../fonts/academy/ACADEMY.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  src:url("../fonts/academy/ACADEMY.otf") format("opentype"), /* Open Type Font */
  src:url("../fonts/academy/ACADEMY.svg") format("svg"), /* Legacy iOS */
  src:url("../fonts/academy/ACADEMY.ttf") format("truetype"), /* Safari, Android, iOS */
  src:url("../fonts/academy/ACADEMY.woff") format("woff"), /* Modern Browsers */
  src:url("../fonts/academy/ACADEMY.woff2") format("woff2") /* Modern Browsers */
  font-weight: normal
  font-style: normal


@font-face 
  font-family: "Gelasio-Regular"
  src:url("../fonts/Gelasio-Regular/Gelasio-Regular.eot") /* IE9 Compat Modes */
  src:url("../fonts/Gelasio-Regular/Gelasio-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  src:url("../fonts/Gelasio-Regular/Gelasio-Regular.otf") format("opentype"), /* Open Type Font */
  src:url("../fonts/Gelasio-Regular/Gelasio-Regular.svg") format("svg"), /* Legacy iOS */
  src:url("../fonts/Gelasio-Regular/Gelasio-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
  src:url("../fonts/Gelasio-Regular/Gelasio-Regular.woff") format("woff"), /* Modern Browsers */
  src:url("../fonts/Gelasio-Regular/Gelasio-Regular.woff2") format("woff2") /* Modern Browsers */
  font-weight: normal
  font-style: normal


@font-face 
  font-family: "Poppins-Regular"
  src:url("../fonts/Poppins-Regular/Poppinsregular.eot") /* IE9 Compat Modes */
  src:url("../fonts/Poppins-Regular/Poppinsregular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  src:url("../fonts/Poppins-Regular/Poppinsregular.otf") format("opentype"), /* Open Type Font */
  src:url("../fonts/Poppins-Regular/Poppinsregular.svg") format("svg"), /* Legacy iOS */
  src:url("../fonts/Poppins-Regular/Poppinsregular.ttf") format("truetype"), /* Safari, Android, iOS */
  src:url("../fonts/Poppins-Regular/Poppinsregular.woff") format("woff"), /* Modern Browsers */
  src:url("../fonts/Poppins-Regular/Poppinsregular.woff2") format("woff2") /* Modern Browsers */
  font-weight: normal
  font-style: normal


$mr: 'Montserrat-Regular'
$mm: 'Montserrat-Medium'
$ac: 'Academy'
$gr: 'Gelasio-Regular'
$pr: 'Poppins-Regular'


.semibold
  font-weight: 600 !important

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

$mb: 'Montserrat'
