

html, body {
  font-family: $mb;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  color: $bmt;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  
}

body{
  opacity: 0;
  visibility: hidden;
  transition: visibility opacity .5s ease;
 // transition-delay: .2s;
  &.loaded{
    visibility: visible;
    opacity: 1;
    transition: visibility opacity  .5s ease;
    //transition-delay: .2s;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: transparent;
  text-decoration: none;
}

.no__scroll {
  overflow: hidden;
}

.page-wrap {
  position: relative;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 15px; 
  margin: 0 auto;
  //border: 1px solid red;
}

.wrap-content{
  position: relative;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a, a:visited, a:focus, a:active {
  display: inline-block;
  font-family: $mr;
  font-style: normal;
  font-weight: normal;
  text-decoration: none !important;
  color: $bmt;
}

.block-title{
  margin-bottom: 35px;
  font-family: $mb;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* Black / Main Title */
  color: $bmt;
}

.text-desc{
  font-family:$mb;
  font-weight: 500;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  /* Black / Main Title */
  color: $bmt;
  margin-bottom: 20px;

  &:last-child{
    margin-bottom: 0;
  }
}

.button {
  display: inline-block;
  padding: 13px 20px;
  font-family: $mb;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 1px;
  cursor: pointer;
  transition: .2s all linear;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.btn-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 38px;
  height: 33px;
  transition: all .2s linear;
  cursor: pointer;
}
.btn-prev{
  @extend .btn-slider;
  background: #FFFFFF;
  border: 1px solid $gm;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none
}

.btn-next{
  @extend .btn-slider;
  background-color: $pd;
}

.btn-def, a.btn-def {
  @extend .button;
  background-color: transparent;
  border: 2px solid $bmt;
  color: $bmt;

  &:hover, &:focus, &:active, &.active {
    background-color: $bm;
    color: #ffffff;
    border-color: $bm;
  }
}

.more-training{
  padding: 12px 22px;
  font-family: $mm;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}


.btn-dark, a.btn-dark {
  @extend .button;
  background-color: $bm;
  border: 2px solid $bm;
  color: #ffffff;

  &:hover, &:focus, &:active {
    background-color: transparent;
    color: $bmt;
    border-color: $bmt;
  }
}

.error{
  box-shadow: inset 0 0 5px 0 red;
}

.modal-open .modal{
  display: flex;
  align-items: center;
}

.modal-content{
  margin: auto;

  .close{
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0;
  top: -40px;
  border-radius: 50%;
  background: #ffffff url(../img/close-btn.png) no-repeat center center;
  background-size: 110%;
  z-index: 1000000;
  opacity: 1;
}}

.rotate-ttl {
  padding-right: 53px;
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
  writing-mode: tb-rl;
  margin-bottom: 0;
  padding-bottom: 70px;
  text-align: right;
}

.review-slider-top{
  margin-left: 290px;
  .rw-slider-item{
    &:nth-child(2){
      margin-right: 0;
    }
  }
}


.review-slider-top{
  
  .slick-slide{
    padding-left: 15px;
  }
}

.review-slider{
  //margin-left: -15px;
}

.rw-slider-item {
  width: 280px;
  height: 319px;
  padding: 30px 22px;
  margin-right: 25px;
  margin-bottom: 29px;
  background: #FFFFFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  @media (min-width: 769px) and (max-width: 1200px) {
    padding-bottom: 50px;
  }
  @media (max-width: 768px) {
    padding: 15px;
  }
  &:nth-child(3),
  &:nth-child(6){
    margin-right: 0;
  }

  * {
    font-family: $mb, sans-serif;
    font-style: normal;
  }

  .btn-def{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h3 {
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $bm;
    @media (max-width: 768px) {
      font-size: 14px;
    }
    @media (max-width: 320px) {
      font-size: 12px;
    }
    &:after {
      content: '';
      display: block;
      width: 60%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $pd;
    }
  }

  p {
    padding-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $bst;
  }

  .review-content {
    position: relative;
    padding-bottom: 0px;
    padding-left: 22px;
    padding-right: 22px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $bm;
    @media (max-width: 768px) {
      font-size: 12px;
    }
    &:before {
      content: '“';
      left: 0;
      top: 0;
    }

    &:after {
      content: '“';
      bottom: 0;
      transform: rotate(180deg);
      right: 0;
    }

    &:after, &:before {
      width: 20px;
      height: 20px;
      position: absolute;
      font-family: $gr, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 51px;
      color: #BB6CAC;
      @media (max-width: 768px) {
        font-size: 30px;
        line-height: 43px;
      }
    }
  }
  .btn-def{
    @media (max-width: 768px) {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}


.popup {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  min-height: 100%;
  display: none;
  &.is-active {
    display: block;
  }
}

.nav-slider-mob{
  display: none;
}

@media (max-width: 560px){
  .nav-slider-mob{
    display: block;
  }
}

  
@media (max-width: 480px) {
  .block-title, .text-desc {
    margin-bottom: 17px;
    font-family: $mb;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 122%;
    color: #3e3b3d;
  }
  .btn-sign-show{
    margin-top: 15px;
  }
  .bt-container .btn-dark,
  .bt-container .btn-def{
    padding-left: 10px;
    padding-right: 10px;
  }
}




.container {
  width: 100% !important;
  max-width: 1240px !important;
  padding: 0 15px; 
  margin: 0 auto;
  //border: 1px solid red;
}
