---
title: Курсы - AndreTan
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}


<section class="top-presentation">
    <div class="container">
        <h1>Academy of Style and Design</h1>
    </div>
</section>

<section class="founder-academy">
    <div class="container">
        <div class="info-top">
            <div class="img-founder">
                <img src="img/founder.jpg" alt="">
            </div>
            <div class="text-founder">
                <h2 class="position">Основатель Академии</h2>
                <p class="name">Andre TAN</p>
                <p class="descript desc-only">Академия Андре Тан поможет стать профессионалом в fashion индустрии. Обучит профессиям будущего с нуля. И даст возможность получить работу в мире моды. Я основал школу на базе лучших преподавателей этой страны. И с уверенностью могу сказать,что каждый выпускник моей школы получает эксклюзивные знания. Приходи и оцени атмосферу нашего прекрасного дома моды</p>
            </div>
        </div>
        <div class="text-founder mob-only">
            <p class="descript">Академия Андре Тан поможет стать профессионалом в fashion индустрии. Обучит профессиям будущего с нуля. И даст возможность получить работу в мире моды. Я основал школу на базе лучших преподавателей этой страны. И с уверенностью могу сказать,что каждый выпускник моей школы получает эксклюзивные знания. Приходи и оцени атмосферу нашего прекрасного дома моды</p>
        </div>
    </div>
</section>

<section class="advantages-academy">
    <div class="container">
        <h2 class="title">Преимущества нашей Академии</h2>
    </div>
    
    <div class="advantages-list">
        <div class="container">
            <div class="wrap-flex"> 
                <div class="advantages-list__item">
                    <img src="img/advantages/program.svg" alt="">
                    <span>Тщательно составленная программа обучения</span>
                </div>
                <div class="advantages-list__item">
                    <img src="img/advantages/spicer.svg" alt="">
                    <span>Качественный подбор спикеров и лекторов</span>
                </div>
                <div class="advantages-list__item">
                    <img src="img/advantages/keise.svg" alt="">
                    <span>Интерактивные задания и практические кейсы</span>
                </div>
                <div class="advantages-list__item">
                    <img src="img/advantages/portf.svg" alt="">
                    <span>Предоставляем все инструменты для создания качественных portfolio</span>
                </div>
            </div>
        </div>
    </div>
    <div class="more-list">
        <div class="container">     
            <div class="wrap-flex">   
                <div class="more-list__item">
                    <div class="number"><span>	&gt;1000 студентов</span> <img src="img/more/1.jpg" alt=""></div>
                    <div class="text">Академия стиля и дизайна Андре Тан – это коктейль из уникальных авторских fashion — программ, профессиональных преподавателей и душевной атмосферы</div>
                </div>
                <div class="more-list__item">
                    <div class="number"><span>	&gt;2500 проектов</span><img src="img/more/2.jpg" alt=""></div>
                    <div class="text">Обучение у нас – это, прежде всего, развитие собственной индивидуальности и безупречного вкуса Вас ждут эксклюзивные мастер-классы и увлекательные занятия</div>
                </div>
                <div class="more-list__item">
                    <div class="number"><span>	&gt;250 отзывов</span><img src="img/more/3.jpg" alt=""></div>
                    <div class="text">Обучение у нас – это, прежде всего, развитие собственной индивидуальности и безупречного вкуса Вас ждут эксклюзивные мастер-классы и увлекательные занятия</div>
                </div>
            </div>
        </div>
    </div>
</section>



{% include "partials/mentors/_mentors.html" %}



<div class="student-reviews">
    <div class="container">
      {% include "partials/reviews/_reviews.html" %}
    </div>
  </div>


<div class="g-questions">
  {% include "partials/sliders/_questions.html" %}
  <div class="container">
    {% include "partials/forms/_about-course.html" %}
  </div>
</div>
{% include "partials/_footer.html" %}
</div>
{% endblock %}
