---
title: Курсы - AndreTan
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<section class="training-prog">
  <div class="container">
      <h3 class="block-title">Обучающие программы</h3>
      <h4 class="block-sub-title">Выберите желаемую тематику</h4>

      <div class="row">
          <div class="subject-items">
              <div class="col-md-4">
                  <div class="subject-item" >
                      <a href="#" class="link" data-id="1">
                        <img src="img/g-1.png" alt="img"/>
                        <p class="name-item">Стилист</p>
                    </a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="subject-item">
                    <a href="#" class="link" data-id="2">
                        <img src="img/g-2.png" alt="img"/>
                        <p class="name-item">Крой и шитье</p>
                    </a>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="subject-item">
                    <a href="#" class="link" data-id="3">
                        <img src="img/g-3.png" alt="img"/>
                        <p class="name-item">Визаж, бровист</p>
                      </a>
                  </div>
              </div>              
                <div class="col-md-4">
                    <div class="subject-item">
                    <a href="#" class="link" data-id="4">
                        <img src="img/g-4.png" alt="img"/>
                        <p class="name-item">Дизайн одежды,<br>fashion иллюстрация</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subject-item">
                    <a href="#" class="link" data-id="5">
                        <img src="img/g-5.png" alt="img"/>
                        <p class="name-item">Fashion management Fashion PR</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="subject-item">
                    <a href="#" class="link" data-id="6">
                        <img src="img/g-6.png" alt="img"/>
                        <p class="name-item">Мастер-классы</p>
                        </a>
                    </div>
                </div>              
          </div>
      </div>
  </div>
</section>

<section class="details-programs details-programs-courses" id="1">
  <div class="container">
        <h3 class="block-title">Стилист</h3>

        <div class="container-card screen-2">
            <div class="row">
                <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/1.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Fashion стилист<br/>Повышение</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/2.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Fashion стилист<br/>Повышение</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/3.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Сам себе стилист</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/2.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Сам себе стилист<br/>(Оnline)</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/3.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Стилист на TV</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</section>
<section class="details-programs details-programs-courses" id="2">
    <div class="container">
          <h3 class="block-title">Крой и шитье</h3>
  
          <div class="container-card screen-2">
              <div class="row">
                  <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/1.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Fashion стилист<br/>Повышение</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/1.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Fashion стилист<br/>Повышение</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/1.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Fashion стилист<br/>Повышение</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/1.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Fashion стилист<br/>Повышение</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="container-details">
                        <img src="img/course/1.png" alt="img"/>
                        <div class="more-course-el">
                            <p><a href="course-detail.html">Fashion стилист<br/>Повышение</a></p>
                        </div>
                        <div class="more-course">
                            <p class="type-course">Обучающий курс</p>
                            <h3 class="title-course">Дизайн одежды</h3>
                            <div class="duration-training">
                              <span>Длительность обучения</span>
                              <span class="duration">3 месяца</span>
                            </div>
                            <p class="desc-training">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
                            <a href="course-detail.html" class="more-training" tabindex="0">Подробнее</a>
                          </div>
                    </div>
                  </div>
              </div>
          </div>
    </div>
  </section>

<section class="c-training">
  <div class="container">
      <h2 class="block-title">Корпоративное обучение</h2>
      <p class="t-desc">Мы предлагаем обучение сотрудников Вашей компании</p>
      <p class="t-desc">Продуктивное усвоение информации гарантирует индивидуальная программа, адаптированная под Ваш бизнес</p>

      <ul class="training-list">
          <li>Тренинги</li>
          <li>Мастер-классы</li>
          <li>Воркшопы</li>
          <li>Семинары</li>
      </ul>
      <a href="#" class="btn-def">Детальнее об обучении</a>
     
  </div>
  <div class="img-train">
    <img src="img/detail-course/corporate-course.jpg" alt="">
  </div>
</section>
<div class="g-questions">
  {% include "partials/sliders/_questions.html" %}
  <div class="container">
    {% include "partials/forms/_about-course.html" %}
  </div>
</div>
{% include "partials/_footer.html" %}

{% endblock %}
