---
title: Главная - AndreTan
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="screen-1">
  {% include "partials/_header.html" %}
  {% include "partials/_main-banner.html" %}
</div>


<div class="screen-2 popular-course">
  {% include "partials/sliders/course-slider.html" %}
</div>
<div class="student-reviews">
  <div class="container">
    {% include "partials/reviews/_reviews.html" %}
  </div>
</div>
<div class="mentors">
  <div class="container">
    {% include "partials/_mentors.html" %}
  </div>
</div>
<div class="g-questions">
  {% include "partials/sliders/_questions.html" %}
  <div class="container">
    {% include "partials/forms/_about-course.html" %}
  </div>
</div>

{% include "partials/_footer.html" %}

{% endblock %}
