---
title: Отзывы - AndreTan
reviewType: true
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<div class="reviews">
  {% include "partials/reviews/_reviews-head.html" %}
  {% include "partials/reviews/_reviews-body.html" %}
</div>

<div class="g-questions">
  {% include "partials/sliders/_questions.html" %}
  <div class="container">
    {% include "partials/forms/_about-course.html" %}
  </div>
</div>
{% include "partials/_footer.html" %}

{% endblock %}
