---
title: Курсы стилиста - AndreTan
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<div class="page-wrap page-wrap--corporate-course page-wrap--detail-course">
<section class="detail-course">
  <div class="container">
      <div class="l-section">
          <h4>Обучающий курс</h4>
          <h3 class="block-title">Fashion стилист</h3>
          <div class="course-duration">
              <span class="term">3 месяца</span>
              <span class="date">03.01 - 03.04 2020</span>
           </div>
          <p class="desc-det-course ">У курсі 26 практичних занять.
              Вони сформують цілісну і послідовну систему впровадження і використання інтернет-реклами для
              бізнесу
          </p>
          
          <a href="#" class="btn-def">Записаться на курс</a>
      </div>
      <div class="r-section">
          <div class="img-container">
              <img src="img/detail-course/1.png" alt="img" />
          </div>
          <div class="title-img">
              <p class="desc-only">На данном курсе есть возможность индивидуального обучения</p>
              <p class="desc-det-course mob-only">58 часов обучения + шоппинг</p>
          </div>
      </div>
  </div>
</section>
<section class="det-program-course">
  <div class="container">
      <h2 class="block-title">Программа курса</h2>
      <div class="l-section">
          <div class="container-list">
              <div class="list-items">
                  <div class="item-number">1</div>
                  <div class="item-content">
                      <p class="name-item">
                        Инструменты в построении идеального имиджа
                      </p>
                      <ul>
                          <li>
                              <p class="text-item">Психология одежды</p>
                          </li>
                          <li>
                            <p class="text-item">Теория ассоциаций</p>
                        </li>
                      </ul>
                      
                  </div>
              </div>
              <div class="list-items">
                <div class="item-number">2</div>
                <div class="item-content">
                    <p class="name-item">
                        Концептуальные дизайнеры
                    </p>
                    <ul>
                        <li>
                            <p class="text-item">Cамоидентификация. Глубокое знакомство с собой.</p>
                        </li>
                        <li>
                          <p class="text-item">Механизм цветовосприятия, физика цвета. Цветовой круг</p>
                        </li>
                        <li>
                            <p class="text-item">Осознание себя и своего пути.</p>
                          </li>
                    </ul>
                    
                </div>
            </div>
            <div class="list-items">
                <div class="item-number">3</div>
                <div class="item-content">
                    <p class="name-item">
                        Дресс-код. Этикет в одежде
                    </p>
                    <ul>
                        <li>
                            <p class="text-item">Гардероб (теория. практика) Асессуары. Обувь.</p>
                        </li>
                        <li>
                          <p class="text-item">Базовый гардероб. Методы построения рационального гардероба.</p>
                        </li>
                        <li>
                            <p class="text-item">Разбор своего гардероба, подбираем гардероб под свои потребности (круг потребностей).</p>
                          </li>
                    </ul>
                    
                </div>
            </div>
            <div class="list-items">
                <div class="item-number">4</div>
                <div class="item-content">
                    <p class="name-item">
                        Прическа (цвет волос, длина, фактура) как часть образа.
                    </p>
                    <ul>
                        <li>
                            <p class="text-item">Актуальные тенденции. подбор прически под образ.</p>
                        </li>
                        <li>
                          <p class="text-item">Макияж. (правила, основные ошибки)</p>
                        </li>
                        <li>
                            <p class="text-item">Соответствие макияжа выбранному образу: романтический, кежуал, повседневный, коктейльный, вечерний и прочее.</p>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <div class="list-items">
                <div class="item-number">5</div>
                <div class="item-content">
                    <p class="name-item">
                        Шоппинг
                    </p>
                    <ul>
                        <li>
                            <p class="text-item">Профессиональные качества, знания и навыки шопера. сегментация рынка одежды (масс-маркет, люкс).</p>
                        </li>
                        <li>
                          <p class="text-item">Алгоритм работы шопера.</p>
                        </li>
                        <li>
                            <p class="text-item">Метод построения шопинг-тура. что? где? куда и как!?</p>
                          </li>
                    </ul>
                    
                </div>
            </div>
            <div class="list-items">
                <div class="item-number">6</div>
                <div class="item-content">
                    <p class="name-item">
                        Контрольный этап
                    </p>
                    <ul>
                        <li>
                            <p class="text-item">Подготовка к имиджевой фотосессии. Выбор темы на экзамен</p>
                        </li>
                        <li>
                          <p class="text-item">Искусство фотографии</p>
                        </li>
                        <li>
                            <p class="text-item">Стилизация образа</p>
                          </li>
                          <li>
                            <p class="text-item">Фотосессия. Контрольная работа</p>
                          </li>
                    </ul>
                    
                </div>
            </div>
              
              
          </div>
          <a href="#add-course" class="btn-def">Записаться на курс</a>
      </div>
      <div class="r-section"></div>
  </div>
</section>
<section class="tabs-element">
  <div class="container">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item active">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                  aria-controls="pills-home" aria-selected="true">Кому подойдет курс</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                  aria-controls="pills-profile" aria-selected="false">График обучения</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                  aria-controls="pills-contact" aria-selected="false">Место проведения</a>
          </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade active in" id="pills-home" role="tabpanel"
              aria-labelledby="pills-home-tab">
              <div class="tab-body">
                  <div class="l-section">
                      <p class="argument">Вы стилист-имиджмейкер и хотите повысить свой уровень</p>
                      <p class="argument">Вы фотограф и хотите снимать для глянцевых журналов</p>
                      <p class="argument">Вы дизайнер одежды или у вас ателье и вам нужно постоянно
                          фотографировать свои коллекции</p>
                      <p class="argument">Вы учитесь имиджу и стилю и хотели бы попробовать себя в новом
                          направлении</p>
                      <p class="argument">Вам нравится творить и придумывать, у вас множество креативных идей
                          и
                          задумок</p>
                      <p class="argument">Вы визажист или парикмахер, участвуете в съемках и хотели бы
                          расширить
                          область работы</p>
                  </div>
                  <div class="r-section">
                      <div class="img-container">
                          <img src="img/img-c.png" alt="img" />
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="tab-body">
                  <div class="start-course">
                      <p class="start-text-info">Старт ближайшего курса</p>
                      <p class="date-start">3 января 2020</p>
                  </div>
                  <div class="w-day-course">
                      <div class="container-day">
                          <span class="days">пн</span>
                          <span class="days">ср</span>
                          <span class="days">пт</span>
                      </div>
                      <p class="time-start">с 18:30 до 21:30</p>
                  </div>

                  <button class="btn-def c-schedule">Расписание курсов</button>
              </div>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="tab-body">
                  <div class="left-block">
                      <p class="start-text-address">Мы тебя ждем по адресу</p>
                      <p class="street">м. Київ, вул. Верхній Вал, 30 А, 2 поверх</p>
                      <p class="info-text">Возле станции метро Контрактова площа</p>
                  </div>
                  <div id="map" class="tab-body__map"><img src="img/map-img.png" alt="png" /></div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="course-reviews">
  <div class="container">
      <h2 class="block-title">Отзывы наших студентов о курсе</h2>
      <div class="review-content-details">
          <h3 class="block-title rotate-ttl">О нас пишут</h3>

          <div class="review-slider-det">
              <div class="nav-slider">
                  <button class="btn-prev slick-arrow" style="">
                      <svg width="15" height="11" viewBox="0 0 15 11" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M5.23984 0.503656C5.43986 0.303632 5.75476 0.303632 5.95479 0.503656C6.14806 0.696923 6.14806 1.01858 5.95479 1.2114L2.32957 4.83662H14.2923C14.5712 4.83662 14.8 5.05827 14.8 5.33713C14.8 5.616 14.5712 5.84485 14.2923 5.84485H2.32957L5.95479 9.46332C6.14806 9.66334 6.14806 9.98545 5.95479 10.1783C5.75476 10.3783 5.43986 10.3783 5.23984 10.1783L0.7564 5.69484C0.563133 5.50157 0.563133 5.17991 0.7564 4.98709L5.23984 0.503656Z"
                              fill="black"></path>
                      </svg>
                  </button>
                  <button class="btn-next slick-arrow" style="">
                      <svg width="15" height="11" viewBox="0 0 15 11" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M9.81022 0.963392L9.81063 0.963805L13.4359 4.58903L14.2894 5.44258H13.0823H1.11956C1.11652 5.44258 1.11489 5.44311 1.11397 5.44349C1.11358 5.44365 1.11322 5.44383 1.11289 5.44402C1.11262 5.44417 1.11236 5.44434 1.11213 5.4445C1.11247 5.44524 1.11326 5.44655 1.11468 5.44797C1.11623 5.44952 1.11764 5.45031 1.11833 5.45061C1.11867 5.45075 1.1188 5.45081 1.11956 5.45081H13.0823H14.291L13.4355 6.3047L9.81582 9.91765C9.81393 9.92001 9.81213 9.9238 9.81213 9.92945C9.81213 9.93063 9.81222 9.93157 9.81233 9.93226C9.81321 9.93303 9.81386 9.9335 9.81426 9.93376L9.81527 9.93434C9.81529 9.93435 9.81499 9.93425 9.81455 9.93425C9.81438 9.93425 9.81424 9.93426 9.81412 9.93428L9.81484 9.93376C9.81547 9.93334 9.81672 9.93243 9.81848 9.93067L14.3019 5.44724L14.6555 5.80079L14.3019 5.44724L14.3023 5.44701L14.3019 5.4466L9.81848 0.963167C9.81672 0.96141 9.81547 0.960496 9.81484 0.960077L9.81384 0.959499C9.81387 0.95951 9.81415 0.959595 9.81455 0.959595C9.81495 0.959595 9.81523 0.959511 9.81527 0.959499L9.81426 0.960077C9.81364 0.960496 9.81239 0.961409 9.81063 0.963167L9.81022 0.963392Z"
                              fill="white" stroke="white"></path>
                      </svg>
                  </button>
              </div>
              <div class="slider-det-cont">
                  <div class="rw-slider-item">
                      <h3>Марина Шевцова</h3>
                      <p>Контент-менеджер в "Ланет Нетворк"</p>
                      <p class="review-content">Дякую команді Академіїкоманді Академіїкоманді
                          Академіїкоманді Академії за відмінний теоретичний і практичний курс. Всі лекції
                          побудовані на прикладах, кейсах, доступно</p>
                  </div>
                  <div class="rw-slider-item">
                      <h3>Марина Шевцова</h3>
                      <p>Контент-менеджер в "Ланет Нетворк"</p>
                      <p class="review-content">Дякую команді Академіїкоманді Академіїкоманді
                          Академіїкоманді Академії за відмінний теоретичний і практичний курс. Всі лекції
                          побудовані на прикладах, кейсах, доступно</p>
                  </div>
                  <div class="rw-slider-item">
                      <h3>Марина Шевцова</h3>
                      <p>Контент-менеджер в "Ланет Нетворк"</p>
                      <p class="review-content">Дякую команді Академіїкоманді Академіїкоманді
                          Академіїкоманді Академії за відмінний теоретичний і практичний курс. Всі лекції
                          побудовані на прикладах, кейсах, доступно</p>
                  </div>
                  <div class="rw-slider-item">
                      <h3>Марина Шевцова</h3>
                      <p>Контент-менеджер в "Ланет Нетворк"</p>
                      <p class="review-content">Дякую команді Академіїкоманді Академіїкоманді
                          Академіїкоманді Академії за відмінний теоретичний і практичний курс. Всі лекції
                          побудовані на прикладах, кейсах, доступно</p>
                  </div>
                  <div class="rw-slider-item">
                      <h3>Марина Шевцова</h3>
                      <p>Контент-менеджер в "Ланет Нетворк"</p>
                      <p class="review-content">Дякую команді Академіїкоманді Академіїкоманді
                          Академіїкоманді Академії за відмінний теоретичний і практичний курс. Всі лекції
                          побудовані на прикладах, кейсах, доступно</p>
                  </div>
                  <div class="rw-slider-item">
                      <h3>Марина Шевцова</h3>
                      <p>Контент-менеджер в "Ланет Нетворк"</p>
                      <p class="review-content">Дякую команді Академіїкоманді Академіїкоманді
                          Академіїкоманді Академії за відмінний теоретичний і практичний курс. Всі лекції
                          побудовані на прикладах, кейсах, доступно</p>
                  </div>
                  <div class="rw-slider-item">
                      <h3>Марина Шевцова</h3>
                      <p>Контент-менеджер в "Ланет Нетворк"</p>
                      <p class="review-content">Дякую команді Академіїкоманді Академіїкоманді
                          Академіїкоманді Академії за відмінний теоретичний і практичний курс. Всі лекції
                          побудовані на прикладах, кейсах, доступно</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="teachers">
  <div class="container ">
      <div class="l-section">
          <h2 class="block-title">Преподаватели курса</h2>
          <ul class="list-teachers">
              <li data-id="teacher-helen">Хелен Червец</li>
              <li class="active" data-id="teacher-veronika">Вероника Булавицкая</li>
              <li data-id="teacher-ekaterina">Екатерина Мостовая</li>
              <li data-id="teacher-yaroslava">Ярослава Трошина</li>
              <li data-id="teacher-anna">Анна Иванова</li>
          </ul>
      </div>

      <div class="r-section">
          <div id="teacher-helen"  class="teacher-view">
            <div class="img-container">
                <img src="img/img-teach.png" alt="teacher" />
                <div class="mob-only">
                    <h3 class="name-teacher">Хелен Червец</h3>
                    <div class="l-social">
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                        </a>    
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="biography">
                <h3 class="name-teacher">Хелен Червец</h3>
                <p class="text-biog">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.</p>
                <p class="text-biog">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam
                    felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p class="text-biog">
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget,
                    arcu
                </p>

                <div class="l-social">
                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                    </a>

                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                    </a>
                </div>
            </div>
          </div>
          <div id="teacher-veronika" class="teacher-view show">
            <div class="img-container">
                <img src="img/img-teach.png" alt="teacher" />
                <div class="mob-only">
                    <h3 class="name-teacher">Вероника Булавицкая</h3>
                    <div class="l-social">
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                        </a>    
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="biography">
                <h3 class="name-teacher">Вероника Булавицкая</h3>
                <p class="text-biog">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.</p>
                <p class="text-biog">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam
                    felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p class="text-biog">
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget,
                    arcu
                </p>

                <div class="l-social">
                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                    </a>

                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                    </a>
                </div>
            </div>
          </div>
          <div id="teacher-ekaterina" class="teacher-view">
            <div class="img-container">
                <img src="img/img-teach.png" alt="teacher" />
                <div class="mob-only">
                    <h3 class="name-teacher">Екатерина Мостовая</h3>
                    <div class="l-social">
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                        </a>    
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="biography">
                <h3 class="name-teacher">Екатерина Мостовая</h3>
                <p class="text-biog">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.</p>
                <p class="text-biog">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam
                    felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p class="text-biog">
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget,
                    arcu
                </p>

                <div class="l-social">
                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                    </a>

                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                    </a>
                </div>
            </div>
          </div>
          <div id="teacher-yaroslava" class="teacher-view">
            <div class="img-container">
                <img src="img/img-teach.png" alt="teacher" />
                <div class="mob-only">
                    <h3 class="name-teacher">Ярослава Трошина</h3>
                    <div class="l-social">
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                        </a>    
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="biography">
                <h3 class="name-teacher">Ярослава Трошина</h3>
                <p class="text-biog">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.</p>
                <p class="text-biog">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam
                    felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p class="text-biog">
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget,
                    arcu
                </p>

                <div class="l-social">
                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                    </a>

                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                    </a>
                </div>
            </div>
          </div>
          <div id="teacher-anna" class="teacher-view">
            <div class="img-container">
                <img src="img/img-teach.png" alt="teacher" />
                <div class="mob-only">
                    <h3 class="name-teacher">Анна Иванова</h3>
                    <div class="l-social">
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                        </a>    
                        <a href="#">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="biography">
                <h3 class="name-teacher">Анна Иванова</h3>
                <p class="text-biog">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa.</p>
                <p class="text-biog">
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam
                    felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
                <p class="text-biog">
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                    eget,
                    arcu
                </p>

                <div class="l-social">
                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                          xmlns="http://www.w3.org/2000/svg">                          <path d="M9.28992 15.8958C9.22327 15.9066 9.15637 15.9166 9.08923 15.9258C9.15637 15.9166 9.22327 15.9066 9.28992 15.8958Z" fill="black" />                          <path                              d="M9.44995 15.8684C9.41809 15.8743 9.38623 15.8796 9.35437 15.8851C9.38623 15.8796 9.41809 15.8743 9.44995 15.8684Z"                              fill="black" />                          <path                              d="M8.91052 15.9482C8.83252 15.957 8.75403 15.9648 8.67529 15.9714C8.75403 15.9648 8.83252 15.957 8.91052 15.9482Z"                              fill="black" />                          <path                              d="M9.06421 15.9294C9.02673 15.9344 8.98901 15.9391 8.95142 15.9435C8.98901 15.9391 9.02673 15.9344 9.06421 15.9294Z"                              fill="black" />                          <path                              d="M9.66772 15.8252C9.63965 15.8312 9.61145 15.8372 9.58325 15.8429C9.61145 15.8372 9.63965 15.8312 9.66772 15.8252Z"                              fill="black" />                          <path                              d="M10.2083 15.6912C10.1855 15.6976 10.1628 15.7037 10.1401 15.7101C10.1628 15.7037 10.1855 15.6976 10.2083 15.6912Z"                              fill="black" />                          <path                              d="M10.0448 15.7356C10.0201 15.7421 9.99536 15.7487 9.97058 15.7549C9.99536 15.7487 10.0201 15.7422 10.0448 15.7356Z"                              fill="black" />                          <path                              d="M9.83093 15.7891C9.80481 15.7952 9.77844 15.8009 9.75208 15.8068C9.77844 15.8009 9.80481 15.7952 9.83093 15.7891Z"                              fill="black" />                          <path                              d="M8.67273 15.9717C8.63062 15.9752 8.5885 15.9784 8.54626 15.9812C8.5885 15.9784 8.63062 15.9752 8.67273 15.9717Z"                              fill="black" />                          <path                              d="M16 8C16 3.5824 12.4176 0 8 0C3.5824 0 0 3.5824 0 8C0 12.4176 3.5824 16 8 16C8.047 16 8.09375 15.999 8.14062 15.9982V9.77051H6.42188V7.76746H8.14062V6.29346C8.14062 4.58398 9.1842 3.65356 10.7091 3.65356C11.4393 3.65356 12.067 3.70801 12.25 3.7323V5.51892H11.1985C10.3689 5.51892 10.2083 5.91321 10.2083 6.4917V7.76746H12.1919L11.9333 9.77051H10.2083V15.6909C13.5521 14.7323 16 11.6516 16 8Z"                              fill="black" />                          <path                              d="M8.52856 15.9822C8.44531 15.9875 8.36169 15.9918 8.27783 15.9946C8.36169 15.9918 8.44531 15.9875 8.52856 15.9822Z"                              fill="black" />                          <path                              d="M8.27356 15.9949C8.22937 15.9963 8.18506 15.9974 8.14075 15.9982C8.18506 15.9974 8.22937 15.9963 8.27356 15.9949Z"                              fill="black" />                      </svg>
                    </a>

                    <a href="#">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"                           xmlns="http://www.w3.org/2000/svg">                          <path                              d="M6.46875 8C6.46875 8.8457 7.1543 9.53125 8 9.53125C8.8457 9.53125 9.53125 8.8457 9.53125 8C9.53125 7.1543 8.8457 6.46875 8 6.46875C7.1543 6.46875 6.46875 7.1543 6.46875 8Z"                              fill="black" />                          <path                              d="M4.41895 5.29089C4.49255 5.09143 4.60999 4.91089 4.76257 4.7627C4.91077 4.61011 5.09119 4.49268 5.29077 4.41907C5.45264 4.3562 5.6958 4.28137 6.14368 4.26099C6.62817 4.23889 6.77344 4.23413 8 4.23413C9.22668 4.23413 9.37195 4.23877 9.85632 4.26086C10.3042 4.28137 10.5475 4.3562 10.7092 4.41907C10.9088 4.49268 11.0894 4.61011 11.2374 4.7627C11.39 4.91089 11.5074 5.09131 11.5812 5.29089C11.644 5.45276 11.7189 5.69605 11.7393 6.14392C11.7614 6.6283 11.7661 6.77356 11.7661 8.00024C11.7661 9.22681 11.7614 9.37207 11.7393 9.85657C11.7189 10.3044 11.644 10.5476 11.5812 10.7095C11.5074 10.9091 11.3901 11.0895 11.2375 11.2377C11.0894 11.3903 10.9089 11.5077 10.7094 11.5813C10.5475 11.6443 10.3042 11.7191 9.85632 11.7395C9.37195 11.7616 9.22681 11.7662 8.00012 11.7662C6.77332 11.7662 6.62805 11.7616 6.1438 11.7395C5.69592 11.7191 5.45264 11.6443 5.29077 11.5813C4.89014 11.4268 4.57349 11.1101 4.41895 10.7095C4.35608 10.5476 4.28125 10.3044 4.26074 9.85657C4.23865 9.37207 4.23401 9.22681 4.23401 8.00024C4.23401 6.77356 4.23865 6.6283 4.26074 6.14392C4.28113 5.69605 4.35596 5.45276 4.41895 5.29089ZM8 10.359C9.30286 10.359 10.359 9.30298 10.359 8.00012C10.359 6.69727 9.30286 5.64124 8 5.64124C6.69727 5.64124 5.64111 6.69727 5.64111 8.00012C5.64111 9.30298 6.69727 10.359 8 10.359ZM5.54785 6.09924C5.8523 6.09924 6.09912 5.85242 6.09912 5.54797C6.09912 5.24353 5.8523 4.9967 5.54785 4.9967C5.24341 4.9967 4.99658 5.24353 4.99658 5.54797C4.9967 5.85242 5.24341 6.09924 5.54785 6.09924Z"                              fill="black" />                          <path                              d="M8 0C12.4176 0 16 3.5824 16 8C16 12.4176 12.4176 16 8 16C3.5824 16 0 12.4176 0 8C0 3.5824 3.5824 0 8 0ZM3.43396 9.89392C3.45618 10.3829 3.53394 10.7168 3.64746 11.009C3.88611 11.6261 4.3739 12.1139 4.99097 12.3525C5.28308 12.4661 5.61707 12.5437 6.10596 12.566C6.59583 12.5884 6.75232 12.5938 7.99988 12.5938C9.24756 12.5938 9.40393 12.5884 9.89392 12.566C10.3828 12.5437 10.7168 12.4661 11.0089 12.3525C11.3156 12.2372 11.5931 12.0564 11.8226 11.8226C12.0563 11.5933 12.2371 11.3156 12.3524 11.009C12.4659 10.7169 12.5437 10.3829 12.5659 9.89404C12.5885 9.40405 12.5938 9.24756 12.5938 8C12.5938 6.75244 12.5885 6.59595 12.566 6.10608C12.5438 5.61707 12.4662 5.2832 12.3527 4.99097C12.2373 4.68445 12.0564 4.40674 11.8226 4.17737C11.5933 3.9436 11.3156 3.76282 11.009 3.64746C10.7168 3.53394 10.3829 3.4563 9.89392 3.43396C9.40405 3.41162 9.24756 3.40625 8 3.40625C6.75244 3.40625 6.59595 3.41162 6.10608 3.43408C5.61707 3.4563 5.2832 3.53394 4.99097 3.64734C4.68445 3.7627 4.40674 3.9436 4.17725 4.17737C3.9436 4.40686 3.7627 4.68445 3.64746 4.99097C3.53381 5.2832 3.45618 5.61707 3.43384 6.10608C3.4115 6.59595 3.40625 6.75244 3.40625 8C3.40625 9.24756 3.4115 9.40405 3.43396 9.89392Z"                              fill="black" />                      </svg>
                    </a>
                </div>
            </div>
          </div>
      </div>
  </div>



</section>
<section class="price-course">
  <div class="container">
      <div class="l-section">
          <h3 class="block-title">Стоимость обучения</h3>
          <p class="text-info">Если Вы уже были студентом нашей Академии мы дарим Вам <span class="sale">10%
                  скидки</span>
              на следующий курс</p>
          <button class="btn-dark">Связаться с менеджером</button>
      </div>
      <div class="r-section">
          <div class="l-block">
              <p>Стоимость за 1 мес</p>
              <p class="price">6 000 грн</p>
          </div>
          <div class="r-block">
              <p>*Вартість без урахування ПДВ для юр. осіб</p>
              <p>Спосіб оплати:</p>
              <p>- безготівковий розрахунок (для компаній);</p>
              <p>- онлайн-оплата банківською картою (для фіз. осіб).</p>
          </div>
      </div>
  </div>
</section>


<div class="g-questions g-questions-course">
  {% include "partials/sliders/_course-detail-slider.html" %}  
  
</div>
{% include "partials/forms/_payment-tabs.html" %}  



{% include "partials/_footer.html" %}
</div>
{% endblock %}
