$bmt: #3E3B3D;    //Black / Main Title
$bm:  #000000;    //Black / Main
$bst: #9B9898;    //Black / Secondary Title
$gm:  #F1F1F1;    //Grey / Main
$pp:  #883278;    //Pink / Press
$pd:  #BB6CAC;    //Pink / Default

$desktop-xl: 1920
$desktop-lg: 1440
$desktop-md: 1200
$desktop-sm: 1024
$tablet-mm: 991
$tablet-sm: 768
$mob-lg: 640
$mob-md: 520
$mob-sm: 402
