.page-not-found
    background: url('../img/page-not.jpg')
    background-repeat: no-repeat
    background-size: cover
    position: relative
    min-height: 850px
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-top: 30px
    @media (max-width: 1024px)
        padding-left: 150px
        padding-right: 150px
    @media (max-width: 560px)
        padding-left: 30px
        padding-right: 30px
        min-height: 750px
        margin-top: 10px
    &:before
        content: ''
        position: absolute
        top: 65px
        right: 65px
        bottom: 65px
        left: 65px
        border: 1px solid #FFFFFF
        @media (max-width: 560px)
            top: 25px
            right: 25px
            bottom: 25px
            left: 25px
        @media (max-width: 320px)
            top: 15px
            right: 15px
            bottom: 15px
            left: 15px
    .container
        height: 100%
    .circle
        border-radius: 50%
        width: 220px
        height: 220px
        background: #FFFFFF
        box-shadow: 0px 4px 10px rgba(187, 108, 172, 0.25)
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 45px
        @media (max-width: 768px)
            width: 205px
            height: 205px
            margin-bottom: 30px
        p
            font-family: $mb
            font-weight: 600
            color: #3E3B3D
            font-size: 80px
            line-height: 1
            margin-bottom: 0
            @media (max-width: 768px)
                font-size: 60px
    p
        color: #fff
        font-size: 24px
        font-family: $mb
        font-weight: 700
        margin-bottom: 20px
        @media (max-width: 768px)
            font-size: 14px
        &.title-not
            @media (max-width: 768px)
                font-size: 18px
                margin-bottom: 15px