.reviews
  &-head
    padding-top: 70px
    .text-desc
      font-family: "Montserrat-Medium", serif
      +r($mob-md)
        font-size: 20px
        text-align: center
    button
      font-weight: 600
      padding-left: 40px
      padding-right: 40px
      font-size: 16px
      margin-right: 12px
      +r($mob-sm)
        padding-left: 24px
        padding-right: 24px
        font-size: 14px
      &:last-of-type
        margin-right: 0
      &.active
        @extend .btn-dark
        font-weight: 600
        padding-left: 40px
        padding-right: 40px
        font-size: 16px
        +r($mob-sm)
          padding-left: 24px
          padding-right: 24px
          font-size: 14px
  &-body
    padding-top: 60px
    margin-left: -29px
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    +r($mob-md)
      padding-top: 32px
      margin-left: 0px
      padding-left: 13px
      padding-right: 13px
  .review-content
    font-family: "Montserrat-Medium", serif
    &.no-quote
      padding-left: 0
      &::before
        display: none
      &::after
        display: none
  &-item
    width: 33.332%
    padding-left: 29px
    margin-bottom: 40px
    +r($tablet-mm)
      width: 50%
    +r($mob-md)
      width: 100%
      margin-bottom: 17px
      padding-left: 0
    &.video
      .reviews-descr
        max-width: 100%
    h3
      +r($mob-md)
        width: 50%
      +r($mob-sm)
        width: 100%
    .reviews-descr
      +r($mob-md)
        width: 50%
      +r($mob-sm)
        width: 100%
    .rw-slider-item
      margin: 0 !important 
      width: 100% !important
      height: auto !important
      +r($mob-md)
        display: flex
        flex-wrap: wrap
      .btn-def
        display: flex
        flex-wrap: wrap
        align-items: center
        padding-top: 7px
        padding-bottom: 7px
        padding-right: 23px
        padding-left: 14px
        font-family: "Montserrat-Medium", serif
        margin-top: 5px
        svg
          path
            transition: .2s all linear
        &:hover
          svg
            path
              fill: #fff
        span
          display: flex
          align-items: center
          margin-right: 7px
  &-descr
    max-width: 180px
  &-footer
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding-top: 10px
    padding-bottom: 20px
    width: 100%

@media (min-width: 768px)
  .reviews-page-mob.slick-slider
    display: none

@media (max-width: 767px)
  .reviews .rw-slider-item
    margin: 0!important
  .reviews-footer,
  .reviews-page-desk
    display: none
  .reviews-page-mob.slick-slider
    display: block
    width: calc(100% - 15px)
    margin: 0 auto
    padding: 0
    .rw-slider-item
      height: auto
      width: auto
      margin: 15px 10px !important

@media (max-width: 480px)
  .reviews-item.video .reviews-descr,
  .reviews-item.video h3
    width: 100%
  .video .rw-slider-item h3:after
    width: 25%

@media (max-width: 320px)
  .reviews-item .rw-slider-item .btn-def
    padding-left: 6px
    padding-right: 6px
 