.video-page{
    padding-top: 40px;
    @media (max-width:768px){
        padding-top: 0;
    }
    .block-title{
        @media (max-width:1024px){
            margin-left: 15px;
        }
    }
    .container{
        @media (max-width:500px){ 
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .video-wrap{
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-wrap: wrap; 
        padding-left: 40px;
        padding-right: 65px;
       
        @media (max-width:1368px){
            padding-left: 55px;
            padding-right: 75px;
        }
        @media (max-width:1024px){
            padding-left: 0;
            padding-right: 0;
        }
        @media (max-width:500px){ 
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    .first-video{
        
        height: 500px;
        margin-bottom: 30px;
        transform: translateX(-50%);
        position: relative;
        left: 50%;
        @media (max-width:1024px){
            height: 400px;
            margin-left: 0;
        }
        @media (max-width:767px){
            height: 240px;
        } 
        @media (max-width:375px){
            height: 200px;
        }          
    }

    &__item{        
        margin-bottom: 30px;
        height: 240px;
        @media (max-width:375px){
            height: 200px;
        }    
    }
}