<header class="site-header">
    <div class="container header-items">
        <div class="logo-container">
            <a href="index.html"><img src="img/logo.png" alt="logo" /></a>
        </div>

        <div class="site-header__right">
            <nav class="menu">
                <a href="#" class="menu-item active">Об Академии</a>
                <a href="course.html" class="menu-item">Курсы</a>
                <a href="#" class="menu-item">Отзывы</a>
                <a href="#" class="menu-item">Преподаватели</a>
              <a href="#" class="menu-item">Видео</a>
              <a href="#" class="menu-item">Контакты</a>
            </nav>

            <div class="lang-switch">
                <a href="#" class="lang-ru active lang-link">RU</a>
                <a href="#" class="lang-ua lang-link">UA</a>
            </div>

            <div class="order-call">
                <p><a href="tel:+380672246700">+38 (067) 224 67 00</a></p>
                <div class="container-button">
                    <button class="btn-def order-call-btn " data-popup="call">
                        Заказать звонок
                    </button>
                </div>
            </div>

            <div class="site-header__close" data-toggle="site-header__right">Закрыты меню</div>
        </div>
        <div class="site-header__close-inner" data-toggle="site-header__right">
            <span>Открыть меню</span>
        </div>
    </div>
</header>
