<div class="container">
  <div class="info-section">
    <h1 class="slogan"><span>Academy</span> of Style and Design</h1>
    <p class="ac-desc">Академия Андре Тан сделает<br /> тебя профессионалом в fashion индустрии</p>

    <div class="bt-container">
        <button class="btn-dark">Детальнее о курсах</button>
        <button class="btn-def">Записаться на пробное занятие</button>
    </div>
  </div>
  <div class="img-section">
    <img src="img/andre.png" alt="">
  </div>
</div>
