<div class="imagin-container">
  <a href="">
      <img src="img/bg-reviews.png" alt="">
      <div class="text-link">Все курсы</div>
  </a>
  <a href="">
      <img src="img/slider-img/2.png" alt="">
      <div class="text-link">Спикеры</div>
  </a>
  <a href="">
      <img src="img/slider-img/1.png" alt="">
      <div class="text-link">О Нас</div>
  </a>
</div>