<div class="popup popup-video js-popup-video">
  <div class="popup-video__main">
    <div class="popup-video__wrapper js-video-frame-wrapper">
      <iframe id="video-frame" width="100%" height="100%" class="popup-video__video" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
      <video id="video" width="100%" height="100%" class="popup-video__video video" autoplay controls></video>
    </div>
  </div>
</div>
