{% set 
  reviews = [
    {
      title: 'Марина Шевцова',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/8m3jS5pO3Mc',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    },
    {
      title: 'Марина Шевцова1',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/xnLV6iwr3sQ',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    },
    {
      title: 'Марина Шевцова2',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/8m3jS5pO3Mc',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    },
    {
      title: 'Марина Шевцова3',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/UTzk28iWKx8',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    },
    {
      title: 'Марина Шевцова4',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/xnLV6iwr3sQ',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    },
    {
      title: 'Марина Шевцова5',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/8m3jS5pO3Mc',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    },
    {
      title: 'Марина Шевцова6',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/xnLV6iwr3sQ',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    },
    {
      title: 'Марина Шевцова7',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/8m3jS5pO3Mc',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    },
    {
      title: 'Марина Шевцова8',
      descr: 'Контент-менеджер в  "Ланет Нетворк"',
      text: 'Дякую команді Академії за відмінний теоретичний і практичний курс. Всі лекції побудовані на прикладах, кейсах, доступно і дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій. Дуже зрозуміло викладені, розтлумачені. Спікери дали дуже багато корисних рекомендацій',
      youtube: 'https://www.youtube.com/embed/xnLV6iwr3sQ',
      textSmall: 'Оставила отзыв о курсе <br />Fashion management'
    }
  ]
%}