<div class="popup js-popup" id="#order-call-modal" data-name-modal="call">
  <div class="popup__wrapper"> 
      <button type="button" class="close close-popup" data-dismiss="modal" aria-label="Close"></button>
      <h3 class="form-ttl">Заполните форму для связи</h3>
      <form class="order-call-form">
          <input class="input-field" type="text" minlength="3" maxlength="30" placeholder="Ваше имя"
                name="user-name">
          <input class="input-field" type="text" inputmode="tel" placeholder="+380(хх) хх хх ххх"
                name="user-phone">
          <input class="btn-dark" type="submit" value="Позвонить мне " id="call-me">
      </form>
      
  </div>
</div>

<div class="popup js-popup review-modal" id="#review-modal" data-name-modal="review">
  <div class="popup__wrapper"> 
      <button type="button" class="close close-popup" data-dismiss="modal" aria-label="Close"></button>
      <h3></h3>
      <p></p>
      <p class="review-content"></p>
        
  </div>
</div>