<section class="mentors mentors-about">
    <div class="container">
        <div class="l-section">
            <p class="title">Наставники</p>
            <p class="descript">Гуру моды и стиля деляться со студентами богатым многолетним опытом</p>
            <div class="nav-slider">
                <button class="btn-prev slick-arrow" style="">
                  <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.23984 0.503656C5.43986 0.303632 5.75476 0.303632 5.95479 0.503656C6.14806 0.696923 6.14806 1.01858 5.95479 1.2114L2.32957 4.83662H14.2923C14.5712 4.83662 14.8 5.05827 14.8 5.33713C14.8 5.616 14.5712 5.84485 14.2923 5.84485H2.32957L5.95479 9.46332C6.14806 9.66334 6.14806 9.98545 5.95479 10.1783C5.75476 10.3783 5.43986 10.3783 5.23984 10.1783L0.7564 5.69484C0.563133 5.50157 0.563133 5.17991 0.7564 4.98709L5.23984 0.503656Z" fill="black"></path>
                  </svg>
                </button>
                <button class="btn-next slick-arrow" style="">
                  <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.81022 0.963392L9.81063 0.963805L13.4359 4.58903L14.2894 5.44258H13.0823H1.11956C1.11652 5.44258 1.11489 5.44311 1.11397 5.44349C1.11358 5.44365 1.11322 5.44383 1.11289 5.44402C1.11262 5.44417 1.11236 5.44434 1.11213 5.4445C1.11247 5.44524 1.11326 5.44655 1.11468 5.44797C1.11623 5.44952 1.11764 5.45031 1.11833 5.45061C1.11867 5.45075 1.1188 5.45081 1.11956 5.45081H13.0823H14.291L13.4355 6.3047L9.81582 9.91765C9.81393 9.92001 9.81213 9.9238 9.81213 9.92945C9.81213 9.93063 9.81222 9.93157 9.81233 9.93226C9.81321 9.93303 9.81386 9.9335 9.81426 9.93376L9.81527 9.93434C9.81529 9.93435 9.81499 9.93425 9.81455 9.93425C9.81438 9.93425 9.81424 9.93426 9.81412 9.93428L9.81484 9.93376C9.81547 9.93334 9.81672 9.93243 9.81848 9.93067L14.3019 5.44724L14.6555 5.80079L14.3019 5.44724L14.3023 5.44701L14.3019 5.4466L9.81848 0.963167C9.81672 0.96141 9.81547 0.960496 9.81484 0.960077L9.81384 0.959499C9.81387 0.95951 9.81415 0.959595 9.81455 0.959595C9.81495 0.959595 9.81523 0.959511 9.81527 0.959499L9.81426 0.960077C9.81364 0.960496 9.81239 0.961409 9.81063 0.963167L9.81022 0.963392Z" fill="white" stroke="white"></path>
                  </svg>
                </button>
              </div>
            <div class="mentors-slider">
                <div class="slid-item-wrap"> 
                    <div class="mentor__item">
                        <div class="img-photo">
                            <a href="#" data-id="mentor-1" class="show-info"><img src="img/1-m.png" alt=""></a>
                        </div>
                        <div class="info">
                            <div class="l-info">
                                <a href="#" data-id="mentor-1" class="show-info">
                                    <p class="name">Марина Савельева</p>
                                    <span class="position">fashion PR</span>
                                </a>
                            </div>
                            <ul class="soc">
                                <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                                <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mentor__item">
                        <div class="img-photo">
                            <a href="#" data-id="mentor-2" class="show-info"><img src="img/2-m.png" alt=""></a>
                        </div>
                        <div class="info">
                            <div class="l-info">
                                <a href="#" data-id="mentor-2" class="show-info">
                                    <p class="name">Хелен Червец</p>
                                    <span class="position">fashion PR</span>
                                </a>
                            </div>
                            <ul class="soc">
                                <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                                <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mentor__item">
                        <div class="img-photo">
                            <a href="#" data-id="mentor-3" class="show-info"><img src="img/3-m.png" alt=""></a>
                        </div>
                        <div class="info">
                            <div class="l-info">
                                <a href="#" data-id="mentor-3" class="show-info">
                                    <p class="name">Ярослава Трошина</p>
                                    <span class="position">fashion PR</span>
                                </a>
                            </div>
                            <ul class="soc">
                                <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                                <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mentor__item">
                        <div class="img-photo">
                            <a href="#" data-id="mentor-4" class="show-info"><img src="img/4-m.png" alt=""></a>
                        </div>
                        <div class="info">
                            <div class="l-info">
                                <a href="#" data-id="mentor-4" class="show-info">
                                    <p class="name">Вероника Булавицкая</p>
                                    <span class="position">fashion PR</span>
                                </a>
                            </div>
                            <ul class="soc">
                                <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                                <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="slid-item-wrap"> 
                    <div class="mentor__item">
                        <div class="img-photo">
                            <a href="#" data-id="mentor-1" class="show-info"><img src="img/1-m.png" alt=""></a>
                        </div>
                        <div class="info">
                            <div class="l-info">
                                <a href="#" data-id="mentor-1" class="show-info">
                                    <p class="name">2Марина Савельева</p>
                                    <span class="position">fashion PR</span>
                                </a>
                            </div>
                            <ul class="soc">
                                <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                                <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mentor__item">
                        <div class="img-photo">
                            <a href="#" data-id="mentor-2" class="show-info"><img src="img/2-m.png" alt=""></a>
                        </div>
                        <div class="info">
                            <div class="l-info">
                                <a href="#" data-id="mentor-2" class="show-info">
                                    <p class="name">Хелен Червец</p>
                                    <span class="position">fashion PR</span>
                                </a>
                            </div>
                            <ul class="soc">
                                <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                                <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mentor__item">
                        <div class="img-photo">
                            <a href="#" data-id="mentor-3" class="show-info"><img src="img/3-m.png" alt=""></a>
                        </div>
                        <div class="info">
                            <div class="l-info">
                                <a href="#" data-id="mentor-3" class="show-info">
                                    <p class="name">Ярослава Трошина</p>
                                    <span class="position">fashion PR</span>
                                </a>
                            </div>
                            <ul class="soc">
                                <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                                <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mentor__item">
                        <div class="img-photo">
                            <a href="#" data-id="mentor-4" class="show-info"><img src="img/4-m.png" alt=""></a>
                        </div>
                        <div class="info">
                            <div class="l-info">
                                <a href="#" data-id="mentor-4" class="show-info">
                                    <p class="name">Вероника Булавицкая</p>
                                    <span class="position">fashion PR</span>
                                </a>
                            </div>
                            <ul class="soc">
                                <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                                <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="r-section">
            <img src="img/bg_mentor2.png" alt="" class="mentor-bg">
            <div class="top">
                <div class="title">Преподаватели Академии</div>
                <div class="year">2020</div>
            </div>
            <div class="info-wrap visible" id="mentor-1">
                <div class="name">Марина Савельева</div>
                <div class="img-position">
                    <div class="pos-section">
                        <div class="position">Fashion стилист</div>
                        <ul class="soc">
                            <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                            <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="img-section">
                        <img src="img/1-m.png" alt="">
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique et ipsam maiores atque optio temporibus, odit vero quo quisquam! Quod, esse fuga placeat pariatur reprehenderit fugit eligendi deleniti molestias neque.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi eaque voluptatem dolores officiis quod totam ab molestiae quaerat! Voluptates quo a explicabo illum maiores dolore consequatur totam sequi eos ut.</p>
                </div>
            </div>
            <div class="info-wrap" id="mentor-2">
                <div class="name">Хелен Червец</div>
                <div class="img-position">
                    <div class="pos-section">
                        <div class="position">Fashion блогер</div>
                        <ul class="soc">
                            <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                            <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="img-section">
                        <img src="img/2-m.png" alt="">
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique et ipsam maiores atque optio temporibus, odit vero quo quisquam! Quod, esse fuga placeat pariatur reprehenderit fugit eligendi deleniti molestias neque.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi eaque voluptatem dolores officiis quod totam ab molestiae quaerat! Voluptates quo a explicabo illum maiores dolore consequatur totam sequi eos ut.</p>
                </div>
            </div>
            <div class="info-wrap" id="mentor-3">
                <div class="name">Ярослава Трошина</div>
                <div class="img-position">
                    <div class="pos-section">
                        <div class="position">PR менеджер</div>
                        <ul class="soc">
                            <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                            <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="img-section">
                        <img src="img/img-teach.png" alt="">
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique et ipsam maiores atque optio temporibus, odit vero quo quisquam! Quod, esse fuga placeat pariatur reprehenderit fugit eligendi deleniti molestias neque.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi eaque voluptatem dolores officiis quod totam ab molestiae quaerat! Voluptates quo a explicabo illum maiores dolore consequatur totam sequi eos ut.</p>
                </div>
            </div>
            <div class="info-wrap" id="mentor-4">
                <div class="name">Вероника Булавицкая</div>
                <div class="img-position">
                    <div class="pos-section">
                        <div class="position">Beauty менеджер</div>
                        <ul class="soc">
                            <li class="soc__item"><a href="#"><img src="img/insta.svg" alt=""></a></li>
                            <li class="soc__item"><a href="#"><img src="img/fb.svg" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="img-section">
                        <img src="img/4-m.png" alt="">
                    </div>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique et ipsam maiores atque optio temporibus, odit vero quo quisquam! Quod, esse fuga placeat pariatur reprehenderit fugit eligendi deleniti molestias neque.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi eaque voluptatem dolores officiis quod totam ab molestiae quaerat! Voluptates quo a explicabo illum maiores dolore consequatur totam sequi eos ut.</p>
                </div>
            </div>
        </div>
    </div>
</section>