.top-presentation{
    height: 670px;
    background-image: url(../img/b_about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 0px;
    .container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-weight: bold;
            font-size: 72px;
            font-family: "Academy";
            color: #fff;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0.005em;
        }
    }
}

.founder-academy{
    padding-top: 50px;
    padding-bottom: 35px;
    margin-bottom: 15px;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        bottom: 0;
        width: 30%;
        height: 100%;
        background: #F1F1F1;
    }
    .info-top{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 10;
        .img-founder{
            min-width: 400px;
            max-width: 400px;
            margin-right: 75px;
            img{
                width: 100%;
            }
        }        
    }
    .text-founder{
        .position{
            font-family: $mb;
            font-weight: 600;
            font-size: 28px;
            letter-spacing: 0.005em;
            color: #3E3B3D;
        }
        .name{
            font-family: $mb;
            font-weight: 700;
            font-size: 26px;
            letter-spacing: 0.005em;
            color: #000;
            margin-bottom: 25px;
        }
        .descript{
            font-size: 16px;
            line-height: 1.7;
            letter-spacing: 0.005em;
            color: #000;
            margin-bottom: 0;
            position: relative;
            z-index: 10;
        }
    }
}

.advantages-academy{
    .wrap-flex{
        display: flex;
        justify-content: space-between;
    }
    .title{
        text-align: center;
        font-family: $mb;
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 0.005em;
        color: #3E3B3D;
        margin-bottom: 50px;
    }
    .advantages-list{
        position: relative;
        margin-bottom: 30px;
        &:before{
            content: '';
            position: absolute;
            top: calc(50% - 32px);
            left: 0;
            right: 0;
            height: 65px;
            width:100%;
            background: #F1F1F1;
            z-index: 1;
        }     
           
        
     
        &__item{
            max-width: 255px;
            display: flex;
            justify-content: flex-start;
            align-items: start;
            background: #FFFFFF;
            padding: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
            position: relative;
            z-index: 5;
            img{
                margin-right: 20px;
                display: inline-block;
            }
            span{
                font-size: 16px;
                line-height: 1.3;
            }
        }
    }
    .more-list{
        margin-bottom: 170px;
       
        &__item{
            width: 31%;
            
            .number{
                height: 185px;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: 0.005em;
                font-size: 28px;
                font-family: $mb;
                font-weight: 700;
                color: #fff;
                line-height: 1.25;
                position: relative;
                margin-bottom: 30px;
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                span{
                    position: relative;
                    z-index: 10;
                    width: 50%;
                    text-align: center;
                }
            }
            .text{
                font-size: 16px;
                line-height: 1.3;
                color: #000;
                letter-spacing: 0.005em;
            }
        }
    }
}

.show-info, .show-info:focus{
    outline: 0;
}

.mentors.mentors-about{
    position: relative;
    padding-top: 80px;
    padding-bottom: 160px;
    .container{
      max-width: 1310px!important;
    }
    .l-section{
      width: 55%;
      position: relative;
      .nav-slider{
        position: absolute;
        bottom: 0px;
        left: -5px;
        
      }
      .btn-mentors{
          position: absolute;
          left: -2px;
          bottom: 0;
          &.btn-prev{
              bottom: 33px;
          }
      }
     .title{
      font-weight: 600;
      font-size: 36px;
      font-family: $mb;
     }
     .descript{
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 35px;
     }
     .mentors-slider{
       margin-left: 35px;
       .slid-item-wrap{
         display: flex !important;
         align-items: stretch;
         flex-wrap: wrap;
         justify-content: space-between;
         .mentor__item{
           width: 48%;
           .show-info{
               display: block;
               z-index: 10;
           }
           .img-photo{
             max-width: 235px;
             position: relative;
             z-index: 10;
             outline: 0;
             img{
               height: 100%;
               outline: 0;
               &:focus{
                outline: 0;
                border: 0;
                box-shadow: none;
             }
             }
             a:focus{
                outline: 0;
                border: 0;
                box-shadow: none;
             }
           }
           .info{
            background: rgba(255, 255, 255, .8);          
            border-radius: 2px;
            padding: 10px 15px;
            margin-top: -25px;
            position: relative;
            z-index: 10;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name{
              font-weight: 600;
              font-size: 16px;
              font-family: $mb;
              color: #000;
              margin-bottom: 0;
            }
            .position{
              font-size: 16px;
              color: #000;
            }
           }
         }
       }
      
     }
    }
    .r-section{
      width: 600px;
     // background-image: url(../img/bg_mentor2.png);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin-top: 40px;
      padding: 40px 130px 20px 45px;
      z-index: 10;
      .mentor-bg{
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
      }
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            z-index: 10;
            position: relative;
            .title{
                font-weight: 700;
                font-size: 34px;
                font-family: $mb;
                line-height: 1.2;
            }
            .year{
               /* padding: 5px 15px;
                border: 1px solid #b0afb4;
                color: #2f2f2f;
                font-size: 25px;
                font-family: $mb;
                font-weight: 70;
                letter-spacing: 1px;
                word-break: break-word;*/
                max-width: 95px;
                min-width: 95px;
              /*  text-align: center;*/
            }
        }
        .info-wrap{
           /* opacity: 0;
            visibility: hidden;
            transition: 0.5s linear;.*/
            display: none;
            position: absolute;
            z-index: 10;
            width: 72%;
            &.visible{
              /*  opacity: 1;
                visibility: visible;
                transition: .5s linear;*/
                display: block;
            }
            .name{
                background: #c97ebe;
                color: #fff;
                font-size: 20px;              
                font-weight: 600;
                display: inline-block;
                padding: 5px 30px 5px 25px;
                margin-left: -25px;
                position: relative;
                z-index: 1;
            }
            .img-position{
                display: flex;
                justify-content: space-between;
                align-items: stretch;                
                margin-top: -15px;
                .pos-section{
                    padding-top: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .position{
                        font-size: 22px;
                        font-family: $mb;
                        font-weight: 600;
                    }
                    .soc{
                        &__item{
                            margin-bottom: 10px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            a{
                                display: block;
                                width: 35px;
                                height: 35px;
                                opacity: 0.8;
                                &:hover{
                                    opacity: 1;
                                }
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .img-section{
                    width: 265px;
                    min-width: 265px;
                    max-width: 265px;
                    img{
                        width: 100%;
                    }
                }                
            }
            .text{
                font-size: 16px;
                margin-top: 15px;
            }
        }
    }
  }
  

  .mentors-slider-mob{
      display: none;
  }

  @media (max-width: 1024px){
    .advantages-academy .advantages-list__item{
        width: 24%;
    }
    .mentors.mentors-about{
        padding-bottom: 0px;
        .container {
            max-width: 1310px!important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .r-section{
            position: relative;
            background-size: contain;
            padding: 60px 200px 20px 60px;
            height: 565px;
            margin-right: -25px;
            width: 100%;
            height: 1500px;
            .mentor-bg{
                width: 100%;
                height: 1500px;
            }
            .top .title{
                font-size: 20px;
            }
            .top .year{
                max-width: 70px;
                min-width: 70px;
            }
            .info-wrap{
                .text{
                    font-size: 12px;
                }
                .name{
                    font-size: 16px;
                }
            } 
            .info-wrap .img-position .img-section{
                width: 150px;
                min-width: 150px;
                max-width: 150px;
            }
            .info-wrap .img-position .pos-section{
                padding-top: 20px;
                .position{
                    font-size: 16px;
                    margin-right: 15px;
                }
                .soc__item a{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    } 
    .advantages-academy .advantages-list__item img{
        margin-right: 13px;
        display: inline-block;
        width: 40px;
    }
  }

  @media (max-width: 768px){
      .mentors-slider-mob{
          display: block;
      }
      .mentors-slider-desk{
        display: none;
    }
    .top-presentation{
        height: auto;
        padding-top: 70px;
        padding-bottom: 70px;
        .container h1{
            text-align: center;
            font-size: 40px;
        }
    } 
    .founder-academy{
        padding-top: 30px;
        padding-bottom: 0;
        &:before{
            height: 43%;
        }
        .container{
            .img-founder{
                min-width: 170px;
                max-width: 170px;
                margin-right: 30px;
            }
            .info-top{
                margin-bottom: 30px;
            }
            .text-founder{
                .position{
                    font-size: 16px;
                }
                .name{
                    font-size: 20px;
                }
            } 
        } 
    } 
    .advantages-academy .title{
        text-align: left;
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 1.4;
    }
    .advantages-academy .wrap-flex{
        flex-direction: column;
        .advantages-list__item{
            width: 100%;
            max-width: initial;
            margin-bottom: 15px;
        }
        .more-list__item{
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .advantages-academy .more-list {
        margin-bottom: 30px;
    }
    .mentors.mentors-about .l-section .title{
        font-size: 20px;
        margin-top: 20px;
    }
    .mentors.mentors-about .r-section{
        width: 100%;
        right: 0;
        left: 0;
        background-size: cover;
        padding-bottom: 135px;
        padding-right: 150px;
        height: 1165px;
        margin-top: 0;
        .mentor-bg{
            height: auto;
        }
    }
    .mentors.mentors-about .l-section{
        width: 100%;
    }
    .mentors.mentors-about .l-section .descript{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .mentors.mentors-about .l-section .mentors-slider{
        margin-left: 0;
    }
    .mentors.mentors-about .l-section .nav-slider{
        z-index: 10;
        bottom: auto;
        top: calc(58% - 14px);
        display: flex;
        justify-content: space-between;
        width: 102%;
    }
    .mentors.mentors-about{
        padding-top: 3px;
        padding-bottom: 0;
    }
    .mentors.mentors-about .l-section .mentors-slider .slid-item-wrap .mentor__item{
        margin-bottom: 17px;
        width: 100%;
        padding-left: 7px;
        padding-right: 7px;
        margin-right: 0;
    }
    .advantages-academy .advantages-list:before{
        display: none;
    }
    .advantages-academy .advantages-list__item{
        img{
            width: 20%;
        }
        span{
            width: 80%;
        }
    } 
    .mentors.mentors-about .l-section .mentors-slider .slid-item-wrap .mentor__item{
        .img-photo img{
            height: auto;
        }
        .info{
            position: relative;
            padding: 7px;
            .soc{
                position: absolute;
                bottom: 5px;
                right: 0;
                margin-bottom: 0;
                &__item{
                    display: inline-block;
                    line-height: 1;
                }
            }
            .name{
                font-size: 13px;
            }
            .position{
                font-size: 12px;
                
                display: inline-block;
            }
        }
    } 
    .mentors.mentors-about .l-section {
        .btn-mentors{
            top: calc(54% - 15px);
            z-index: 10;
            &.btn-prev{
                left: -10px;
                bottom: auto;
            }
            &.btn-next{
                left: auto;
                right: -10px;
                bottom: auto;
            }
        }
    }
  }
  
  @media (max-width: 500px){
    .mentors.mentors-about .container,
    .more-list .container,
    .advantages-list .container,
    .advantages-academy .container,
    .founder-academy .container{
        padding: 0 25px;
    }
  }

  @media (max-width: 480px){
    .mentors.mentors-about .r-section{
        height: 684px;
        padding-right: 90px;
    }
   
    .mentors.mentors-about .l-section .nav-slider{
       
    }
    .mentors.mentors-about .l-section .btn-mentors {
        top: calc(58% - 15px);
    }
  }
  @media (max-width: 425px){
    .mentors.mentors-about .r-section{
        height: 640px;
        padding-top: 35px;
        padding-left: 43px;
        .mentor-bg{
            height: 100%;
        }
    }
  }
  @media (max-width: 375px){
    .mentors.mentors-about .r-section{
        padding-bottom: 0;
        padding-top: 30px;
        padding-left: 40px;
        
    }
    .mentors.mentors-about .r-section{
        height: 560px;
    }
    .mentors.mentors-about .l-section .btn-mentors {
        top: calc(55% - 15px);
        &.btn-prev{
            left: -8px;
        }
        &.btn-next{
            right: -8px;
        }
    }
  }
  @media (max-width: 320px){
    .mentors.mentors-about .r-section .info-wrap .text{
        font-size: 10px;
        margin-top: 5px;
    }
    .mentors.mentors-about .r-section{
        padding-bottom: 75px;
        padding-right: 60px;
        padding-left: 25px;
    }
    .founder-academy .container .img-founder{
        min-width: 130px;
        margin-right: 15px;
    }
    .mentors.mentors-about .l-section .mentors-slider .slid-item-wrap .mentor__item .info .position{
        width: 77%;
    }
    .mentors.mentors-about .r-section{
        height: 485px;
    }
    .mentors.mentors-about .r-section .top .title {
        font-size: 16px;
    }
    .mentors.mentors-about .r-section .info-wrap .name {
        font-size: 13px;
        margin-left: -11px;
    }
    .mentors.mentors-about .r-section .info-wrap .img-position .pos-section .position{
        font-size: 12px;
    }
  }