.details-programs {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 396px;
    height: 416px;
    /* Grey / Main */
    background: $gm;
  }

  .container {
    position: relative;
    padding-top: 34px;
    @media(max-width: 768px){
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .block-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 34px;
    font-family: $mb;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    /* Black / Main Title */
    color: $bmt;
    @media (max-width: 768px){
      margin-top: 0;
    }

    &:after {
      content: '';
      width: 166px;
      height: 6px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #FFFFFF;
    }
  }

  .container-details {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    max-width: 316px;
    height: 407px;
    margin-bottom: 67px;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }

    .more-course-el {
      display: flex;
      align-items: center;
      min-height: 75px;
      position: relative;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      transition: all .2s linear;
      padding: 10px 28px;
      color: #ffffff;
      p{
        margin-bottom: 0;
      }
      p a {
        font-family: $mr;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #ffffff;
      }
    }
    &:hover{
      .more-course-el {
        display: none;
        opacity: 0;
      }
      .more-course{
        bottom: 0;
      }
    }
  }
  &-courses{
    display: none;
    &.show{
      display: block;
    }
    .screen-2{
      padding-top: 0;
    }
  }
  .screen-2{
    @media (max-width: 1024px){
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.training-prog-desk{
  display: block;
}
.training-prog-mob{
  display: none;
}

@media (max-width: 767px){
  .training-prog-desk{
    display: none;
  }
  .training-prog-mob{
    display: block;
  }
}

@media (max-width: 425px){
  .details-programs-courses .container-card .container-details{
    height: 85vw;
  }
}