.training-prog {
  .container {
    padding-top: 90px;
    @media (max-width: 1024px) {
      padding-top: 0;
    }
  }

  .block-title {
    margin-bottom: 10px;
    color: #000;
  }

  .block-sub-title {
    font-family: $mr;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* Black / Main Title */
    color: $bmt;
    margin-bottom: 32px;
  }

  .subject-item {
    position: relative;
    width: 100%;
    max-width: 314px;
    height: 132px;
    margin-bottom: 35px;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s linear;
    border: 2px solid transparent;

    &:hover, &:focus{
      border-color: #FFFFFF;
      box-shadow: 0px 4px 15px rgba(136, 50, 120, 0.6);
    }

    .name-item {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 90%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-family: $mb;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #FFFFFF;
      text-align: center;
    }

    img{
      height: 100%;
    }
    .link{
      display: block;
      &:before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(136, 50, 120, .6);
      }
    }

    
  }
}

@media (max-width: 768px){
  .training-prog .subject-items{
    display: flex;
    flex-wrap: wrap;
    .col-md-4{
      width: 100%;
      .subject-item{
        max-width: initial;
        .link{
          height: 100%;
        }
        img{
          width: 100%;
        }
      }
    }
  } 
  .details-programs-courses{
    .container-card{
      .row{
        display: flex;
        flex-wrap: wrap;
      }
      .col-md-4{
        width: 50%;
      }
    }
  }
}

@media (max-width: 600px){
  .training-prog .subject-items{
    .col-md-4{
      
    }
  }
  .details-programs-courses{
    .container-card{
      
      .col-md-4{
        width: 100%;
      }
      .container-details{
        margin: 0 auto 50px;
        max-width: 100%;
        img{
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .training-prog .container {
    padding: 15px 30px;
  }
  
}

@media (max-width: 480px){
  .details-programs-courses .container-card .container-details{
    height: 100vw;
    margin-bottom: 20px;
  }
}

@media (max-width: 320px){
  .training-prog .subject-items .col-md-4{
    width: 100%;
  }
} 

