.c-training {
 // background: #ffffff url("../img/detail-course/corporate-course.jpg") no-repeat right center;
  background-size: contain;
  box-shadow: 0px 4px 20px rgba(82, 78, 78, 0.15);
  position: relative;

  .container {
    padding: 60px;
    @media (max-width: 1024px) {
      padding: 25px;
    }
    @media (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .img-train{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    img{
      height: 100%;
      @media (max-width: 1024px) {
        width: 100%;
      }
    }
  }

  .block-title {
    margin-bottom: 20px;
    font-family: $mb;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* Black / Main Title */
    color: $bmt;
    margin-top: 0;
  }

  .t-desc, .training-list li {
    font-family: $mr;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* Black / Main Title */
    color: $bmt;
  }

  .t-desc {
    max-width: 449px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .training-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 449px;
    list-style: none;
    margin-bottom: 16px;

    li {
      position: relative;
      width: 37%;
      padding-left: 16px;
      margin-bottom: 16px;

      &:before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: $pd;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 1200px){
  .c-training .img-train{
    position: relative;
    margin-top: 15px;
    img{

    }
  }
}

@media (max-width: 768px){
  .c-training{
    display: flex;
    flex-direction: column-reverse;
    .img-train{
      margin-top: 0;
    }
  }
  .c-training .block-title{
    font-weight: 700;
    font-family: "Montserrat",sans-serif;
    font-size: 19px;
    margin-top: 0;
  }
  .c-training .training-list{
    margin-bottom: 0;
    li{
      width: 50%;
    }
  } 
  .training-prog .block-sub-title{
    font-size: 17px;
  }
  .training-prog .subject-item .name-item{
    font-size: 18px;
  }
  .training-prog .subject-item{
    margin-bottom: 20px;
  }
  .details-programs:before{
    width: 100%;
  }
  .training-prog .block-title{
    font-weight: 700;
    font-family: "Montserrat",sans-serif;
  }
  .training-prog .container {
    padding-top: 15px;
    
  }
  .c-training .img-train img{
    width: 100%;
    height: auto;
  }
}

@media (max-width: 320px){
  .c-training .training-list li{
    width: 100%;
  }
}