.contact-page{
    .title-page{
        font-weight: 600;
        font-size: 24px;
        font-family: $mb;
        margin-bottom: 40px;
        margin-top: 100px;
        text-align: center;
    }
    .flex-contact{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .contact-info{
            width: 45%;
            background-image: url(../img/contact/contact_1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 180px;
            padding-bottom: 180px;
            .info{
                width: 70%;
                max-width: 375px;
                background: rgba(255,255,255,0.8);
                padding: 35px 45px 20px;
                .title{
                    font-weight: 600;
                    font-size: 18px;
                    font-family: $mb;
                    margin-bottom: 10px;
                }
                .list-info{
                    margin-bottom: 15px;
                    
                    li{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        margin-bottom: 10px;
                        .img{
                            width: 20px;
                            text-align: center;
                            display: inline-block;
                            margin-right: 5px;
                        }
                        a{
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .contact-map{
            width: 55%;
            position: relative;
            .map{
                width: 100%;   
                height: 100%;             
            }
            .pin{
                position: absolute;
                top: 40%;
                left: 40%;
            }
        }
    }
}

@media (max-width: 768px){
    .contact-page .flex-contact{
        flex-direction: column;
        .contact-map,
        .contact-info{
            width: 100%;
        }
        .contact-info{
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    .contact-page .title-page{
        margin-top: 40px;
    }
    .contact-page .flex-contact .contact-map .map{
        height: 400px;
    }
}

@media (max-width: 480px){
    .contact-page .flex-contact .contact-info .info{
        width: 85%;
    }
}
@media (max-width: 375px){
    .contact-page .flex-contact{
        .contact-info .info{
            width: 87%;
            padding: 15px;
        }
        .contact-map .pin{
            max-width: 35px;
            top: 27%;
        }
    } 
}
@media (max-width: 320px){
    .contact-page .flex-contact .contact-info {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}