.detail-course {
  margin-top: 32px;
  margin-bottom: 20px;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    .l-section,
    .r-section {
      width: 100%;

      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }

  .l-section {
    padding-top: 64px;
    padding-right: 35px;

    .l-type-course {
      margin-bottom: 10px;
      font-family: $mb;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      /* Black / Secondary Title */
      color: $bst;
    }

    .block-title {
      margin-bottom: 18px;
      font-family: $mb;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 31px;
      /* Black / Main Title */
      color: $bmt;
    }

    .course-duration {
      position: relative;
      padding: 14px 40px 14px 0;
      background: $pd;
      margin-bottom: 30px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;

      &:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        left: -100%;
        top: 0;
        background: $pd;
      }

      * {
        font-family: $mb;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        /* White / Main */
        color: #ffffff;
      }

      .duration-det {
        display: inline-block;
        padding-right: 35px;
        margin-right: 35px;
        border-right: 4px solid #ffffff;
      }
    }

    .desc-det-course {
      margin-bottom: 30px;
      max-width: 100%;
      font-family: $mb;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      /* Black / Secondary Title */
      color: $bst;

      @media (min-width: 768px) {
        max-width: 389px;
      }
    }
  }

  .r-section {
    position: relative;
    display: flex;
    justify-content: flex-end;
    order: -1;

    @media (min-width: 768px) {
      order: 0;
      padding-left: 56px;
    }

    .img-container {
      position: relative;
      width: 100%;
      max-width: 344px;

      @at-root .page-wrap--corporate-course
          .detail-course
          .r-section
          .img-container {
        max-width: 100%;

        @media (min-width: 768px) {
          max-width: 624px;
        }
      }

      img {
        width: 100%;
        @media (min-width: 768px) {
          width: auto;
        }
      }
    }

    .text-container {
      width: 100%;
      padding: 58px 36px 20px;
      position: absolute;
      left: 56px;
      bottom: 20%;
      background: #f1f1f1;

      &:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: inherit;
      }

      p {
        max-width: 175px;
        font-family: $mm;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        color: #000000;
      }
    }
  }
}

.det-program-course {
  .block-title {
    font-family: $mb;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* Black / Main Title */
    color: #3e3b3d;
    width: 50%;
    @media (max-width: 1023px){
      width: 100%;
    }
  }

  .container-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
  }

  .list-items {
    display: flex;
    width: 100%;
    padding-right: 56px;
    margin-bottom: 26px;

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  .item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin-right: 23px;
    background: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: $gr, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    /* Black / Main */
    color: #000000;
  }

  .name-item {
    margin-bottom: 10px;
    font-family: $mb;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* Black / Main Title */
    color: #3e3b3d;
  }

  .text-item {
    margin-bottom: 6px;
    font-family: $mb;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* Black / Main Title */
    color: #3e3b3d;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @at-root .page-wrap--corporate-course .det-program-course .btn-def {
    //margin-left: 84px;
  }
}

.tabs-element {
  padding-bottom: 98px;

  .container {
    padding-top: 50px;
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:focus,
  .nav-pills > li.active > a:hover {
    background: transparent;
  }

  .nav-pills {
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
    border-bottom: 0;
    border-left: 4px solid #f1f1f1;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 4px solid #f1f1f1;
      border-left: 0;
    }

    &:after {
      content: "";
      display: none;
    }

    &:before {
      content: "";
      display: none;
    }
  }

  .nav-item {
    @at-root .tabs-element .nav-pills > li + li {
      margin-left: 0;
    }

    a {
      position: relative;
      padding-left: 0;
      padding-bottom: 10px;
      font-family: $mb;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 18px;
      /* Black / Main Title */
      color: #3e3b3d;
      transition: all 0.2s linear;

      @media (min-width: 768px) {
        padding-bottom: 20px;
        font-size: 22px;
        line-height: 26px;
      }

      &:after {
        content: "";
        position: absolute;

        top: 0;
        left: -4px;
        // bottom: 0px;
        width: 4px;
        height: 36px;

        background: transparent;
        border-radius: 2px;
        transition: all 0.2s linear;

        @media (min-width: 768px) {
          top: auto;
          left: 0;
          bottom: -4px;
          width: 73px;
          height: 7px;
        }
      }

      &:hover {
        background-color: transparent;

        &:after {
          background: #3e3b3d;
        }
      }
    }
  }

  .nav-pills li.active a {
    color: #3e3b3d;

    &:after {
      content: "";
      background: #3e3b3d;
    }
  }

  .tab-body {
    display: flex;
    justify-content: space-between;
  }

  .l-section {
    display: flex;
    flex-wrap: wrap;
    // margin-right: -30px;
    padding-right: 30px;
    // width: calc(100% - 307px);

    @media (min-width: 600px) {
      padding-right: 0;
    }

    @media (min-width: 992px) {
      padding-right: 30px;
    }
  }

  .r-section {
    display: none;
    width: 100%;
    max-width: 307px;

    @media (min-width: 992px) {
      display: block;
    }

    .img-container {
      width: 100%;
      min-width: 265px;
      height: 230px;
      overflow: hidden;

      img {
        height: 100%;
      }
    }
  }

  .argument {
    position: relative;
    width: 256px;
    width: 33%;
    min-width: 256px;
    padding-left: 24px;
    padding-right: 0;
    font-family: $mb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    min-width: 100%;

    @media (min-width: 600px) {
      padding-right: 30px;
      min-width: 256px;
      margin-bottom: 25px;
    }

    @media (min-width: 992px) {
      padding-right: 30px;
      // width: 100%;
    }

    &:before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 0;
      background: #bb6cac;
    }
  }
}

.course-reviews {
  overflow: visible;

  @media (min-width: 560px) {
    overflow-x: hidden;
  }

  .block-title {
    position: relative;
    z-index: 5;
    margin-top: 0;
    margin-bottom: 30px;
    font-family: $mb;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #3e3b3d;
  }

  .rotate-ttl {
    position: relative;
    z-index: 10;
    display: none;
    width: 33px;
    text-align: center;
    padding-right: 8px;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;

    @media (min-width: 560px) {
      display: block;
    }
  }

  .review-content-details {
    display: flex;
    justify-content: space-between;
    position: relative;

    &:before {
      content: "";
      width: 200vw;
      height: 120px;
      background-color: #f1f1f1;
      position: absolute;
      left: -50%;
      top: -35px;
      transform: translate(-50%, -50%);

      @media (min-width: 560px) {
        left: -50%;
        top: 50%;
        width: 200vw;
        height: 230px;
      }
    }
  }

  .rw-slider-item:nth-child(3),
  .rw-slider-item:nth-child(6) {
    margin-right: 29px;
  }

  .review-slider-det {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;

    .nav-slider {
      padding-bottom: 18px;
      margin-right: -15px;
      position: absolute;
      left: -24px;
      z-index: 10;
    }

    // .btn-prev,
    // .btn-next {
    //   display: none;
    // }

    // @media (min-width: 560px) {
    //   display: flex;
    // }
  }

  .slider-det-cont {
    .slick-list {
      padding-left: 15px;
    }

    width: 100vw;

    .rw-slider-item {
      width: 100%  !important;
      //min-width: 280px;
      margin-top: 10px;
      margin-bottom: 18px;
      height: auto;
      min-height: 319px;
      position: relative;

      &:nth-of-type(n + 5) {
        display: none;
      }

      @media (min-width: 560px) {
        width: 94% !important;

        &:nth-of-type(n + 5) {
          display: block;
        }
      }
      .btn-def{
        @media (min-width: 769px){
          position: absolute;
          bottom: 12px;
        }
        
      }
      .js-show-video{
        background-color: transparent;
        border: 2px solid #3e3b3d;
        color: #3e3b3d;
        width: auto;
        padding: 7px 15px 6px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
        .icon.icon-ytb{
          line-height: 1;
          margin-right: 10px;
        }
        &:hover{
          background-color: #000;
          color: #fff;
          border-color: #000;
          svg{
            path{
              fill: #fff;
            }
          }
        }
        @media (min-width: 769px){
          position: absolute;
          bottom: 12px;
        }
      }
    }
  }

  .rw-slider-item .review-content:after {
    right: 0;
  }
}

.teachers {
  padding-top: 62px;
  padding-bottom: 53px;

  .container {
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
    &:before,
    &:after {
      display: none;
    }
  }

  .block-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: $mb;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
  }

  .l-section {
    width: 40%;
  }

  .r-section {
    display: flex;
    width: 60%;

    .name-teacher {
      margin-top: 0;
      margin-bottom: 14px;
      font-family: $mb;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      /* Black / Main Title */
      color: #3e3b3d;
    }

    .biography {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      font-family: $mb;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #000000;
    }
    .teacher-view{
      display: none;
      &.show{
        display: flex !important;
      }
    }
  }

  .list-teachers {
    width: fit-content;
    list-style: none;

    li.active {
      font-weight: bold;
      color: #bb6cac;

      &:after {
        content: "";
        display: block;
        height: 1px;
        width: 80%;
        position: absolute;
        right: -100%;
        top: 50%;
        border-bottom: 1px dashed #9b9898;
        transition: all 0.3s linear;
      }
    }

    li {
      position: relative;
      margin-bottom: 10px;
      font-family: $mb;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      /* Black / Main Title */
      color: #3e3b3d;
      cursor: pointer;
      transition: all 0.3s linear;
    }
  }

  .img-container {
    position: relative;
    width: 201px;
    height: 280px;
    min-width: 201px;
    margin-right: 79px;

    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 80%;
      position: absolute;
      left: 100%;
      bottom: 0;
      background: #bb6cac;
    }

    img {
      height: 100%;
    }
  }

  .l-social {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;

    a {
      display: inline-block;
      margin-right: 7px;

      &:last-child {
        margin-right: 0;
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.price-course {
  .container {
    display: flex;
  }

  .l-section {
    width: calc(53% - 50px);
    position: relative;
    padding: 45px 21px 30px 0;
    margin-right: 50px;
    background: #f1f1f1;
    
    * {
      font-family: $mb;
      font-style: normal;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -100%;
      top: 0;
      background: #f1f1f1;
    }

    .block-title {
      margin-top: 0;
      margin-bottom: 11px;
      font-weight: bold;
      font-family: $mb;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
    }

    .text-info {
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #000000;

      .sale {
        font-weight: bold;
        font-family: $mb;
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

  .r-section {
    display: flex;
    padding-top: 52px;

    * {
      font-family: $mb;
      font-style: normal;
      color: #000000;
    }

    .l-block {
      width: 50%;

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
      }

      p.price {
        font-weight: bold;
        font-size: 34px;
        line-height: 41px;
      }
    }

    .r-block {
      * {
        font-family: $mb;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }
      p {
        margin-bottom: 0;
        span{
          font-weight: 700;
        }
      }
    }
    
  }
  &.corporate-course{
    .l-section{
      width: calc(76% - 50px);
    }
  }
}

section.tabs-element-form {
  padding-bottom: 51px;
}

.tab-content {
  .container-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  form {
    display: inline-block;
    margin: 0 -13px -23px -13px;
    input:not([type="submit"]) {
      display: inline-block;
      padding: 11px;
      background: #ffffff;
      border: 1px solid #000000;
      box-sizing: border-box;
      font-family: $mm;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 47px;
      /* Black / Main Title */
      color: $bmt;
      text-align: center;
    }

    input {
      max-width: 312px;
      width: 100%;
      height: 47px;
      margin: 0 13px 23px 13px;
    }
  }

  .container-places {
    max-width: 113px;
    font-family: $mm;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
  }

  .start-text-info,
  .days,
  .start-text-address {
    font-family: $mm;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* Black / Secondary Title */
    color: #9b9898;
  }

  .time-start,
  .date-start,
  .street {
    margin-bottom: 0;
    font-family: $mb;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* Black / Main Title */
    color: #3e3b3d;
  }

  .start-course,
  .left-block {
    padding-left: 18px;
    border-left: 5px solid #bb6cac;
  }

  .info-text {
    margin-top: 15px;
    margin-bottom: 0;
    max-width: 230px;
    font-family: $mb;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* Black / Main Title */
    color: #3e3b3d;
  }
}

#pills-profile {
  .tab-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;

    @at-root #pills-tabContent #pills-profile .tab-body {
      align-items: flex-start;

      @media (min-width: 630px) {
        flex-direction: row;
        align-items: center;
      }
    }

    > div {
      margin-right: 62px;
      margin-bottom: 50px;
    }

    .w-day-course {
      margin-left: 18px;
    }

    .c-schedule {
      align-self: flex-start;
      margin-left: 18px;
    }
  }
}

#pills-contact {
  .tab-body {
    flex-wrap: wrap;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }

    .left-block {
      padding-right: 20px;
    }

    &__map {
      margin-top: 26px;
      width: 100%;

      @media (min-width: 768px) {
        margin-top: 0;
        width: auto;
      }
    }
  }
}

.page-wrap--detail-course{
  .detail-course{
    .l-section{
      h4{
        color: #9B9898;
        font-size: 16px;
        margin-bottom: 0;
      }
      .block-title{
        margin-top: 10px;
      }
      .course-duration{
        .term{
          padding-right: 30px;
          margin-right: 30px;
          border-right: 4px solid #fff;
        }
      }
    }
    .r-section{
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      .img-container{
        height: 470px;
        max-width: 345px;
        min-width: 345px;
        position: relative;
        z-index: 10;
        img{
          height: 100%;
        }
      }
      .title-img{
        background: #F1F1F1;
        padding: 40px 20px;
        margin-bottom: 70px;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          background: #F1F1F1;
          width: 50vw;
          z-index: 1;
        }
        p{
          margin-bottom: 0;
          font-weight: 600;
          font-family: $mb;
          font-size: 16px;
          color: #000;
          line-height: 1.5;
        }
      }
    }
  }
  .det-program-course{
    li{
      margin-bottom: 6px;
    }
  }
}

#pills-tabContent .tab-body {
  align-items: center;
 
}


#pills-tabContent.tab-content .tab-pane{
  height: 240px;
  &.active{
    display: flex;
    align-items: center;
  }
} 
#pills-profile .tab-body .c-schedule{
  margin-top: 5px;
}



.course-detail-slider{
  position: relative;
  width: 95%;
  margin: 0 auto;
  .nav-slider{
    .slick-arrow{
      position: absolute;
      top: calc(50% - 17px);
      z-index: 10;
      background: #bb6cac;
      border: 1px solid #bb6cac;
      svg,path{
        fill: #fff;
      }
      &:hover{
        background: #fff;
        border: 1px solid #000;
        svg,path{
          fill: #000;
        }
      }
      &.btn-prev{
        left: 0;
        @media (max-width: 560px) {
          left: 50px;
        }
        @media (max-width: 425px) {
          left: 22px;
        }
        @media (max-width: 375px) {
          left: 35px;
        }
        @media (max-width: 320px) {
          left: 10px;
        }
      }
      &.btn-next{
        right: 0;
        @media (max-width: 560px) {
          right: 50px;
        }
        @media (max-width: 425px) {
          right: 22px;
        }
        @media (max-width: 375px) {
          right: 35px;
        }
        @media (max-width: 320px) {
          right: 10px;
        }
        &:hover{
          svg,path{
            stroke: #000;
          }
        }
      }
    }
  }

 
  .slick-slider {
    width: 100%;
    background-color: transparent;
    .slick-track {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      height: 470px;
      justify-content: center;
      @media(max-width: 1200px){
        height: auto;
      }
      @media (max-width: 560px){
        height: 320px;
      }
    }
    .slick-slide{
      float: none;
      display: inline-block;
      vertical-align: middle;
      /*padding: 10px 0px;
      margin:  10px 0;*/
      transition: all 0.3s ease;
      height: auto;
      text-align: center;
      //margin-left: -10px;
      //margin-right: -10px;
      margin-left: 15px;
      margin-right: 15px;
      @media(min-width: 1200px){
        min-width: 365px;
      }
      @media(max-width: 768px){
        margin-left: 5px;
        margin-right: 5px;
      }
      @media(max-width: 560px){
        margin-left: 0;
        margin-right: 0;
      }
    
      .q-slider-item{
        margin: auto;
        padding: 0;
        height: 295px;
        @media (max-width: 1025px){
          height: 210px;
        }
        @media (max-width: 768px){
          height: 165px;
        }
        @media (max-width: 560px){
          height: 235px;
        }
        @media (max-width: 320px){
          height: 175px;
        }
      }
     
        img{
         
          width: 100%;
          display: inline-block;
        }
      img{
        height: 100%;
        width: 100%;
      }
      &.slick-current,
      &.slick-center {        
        
        //margin: 50px 0px;
        margin: 0 20px;
        @media (max-width: 768px){
          margin-left: 5px;
          margin-right: 5px;
        }
        @media (max-width: 560px){
          margin: 0 10px;
        }
        //height: 470px;
        .q-slider-item{
          width: 100% !important;
          height: 100% !important;
          padding: 0;
          @media (max-width: 375px){   
            
            width: 100% !important;
            height: 100% !important;
            padding: 0;          
                 
          }
         
        }
        /*
        @media (max-width: 560px){
          width: 420px !important; 
          
        }
        @media (max-width: 480px){
          width: 350px !important;    
             
        }
        @media (max-width: 425px){
          width: 280px !important; 
                 
        }*/
        @media (max-width: 375px){
          width: 250px !important;  
              
        }
        
        @media (max-width: 320px){
          width: 150px ; 
               
        }

      }
    }
  }
  
  
  
}

.payment-tabs{
  padding-bottom: 30px;
  border-bottom: 4px solid #f1f1f1;
  .l-section{
    width: 90%;
  }
  .r-section{
    max-width: 200px;
    p{
      font-weight: 500;
      font-size: 20px;
      text-align: center;
    }
  }
  .course-form{
    input{
      width: 33%;
      margin: 0 10px 23px;
    }
    .btn-dark{
      width: 100%;
      max-width: 312px;
      margin: 0 10px 23px;
      line-height: 23px;
      background: #3E3B3D;
      border: 2px solid #3E3B3D;
      &:hover{
        background: transparent;
        color: #3E3B3D;
      }
    }
  }
}

.desc-only{
  display: block;
}
.mob-only{
  display: none;
}

.price-private{
  display: none;
}

@media (max-width: 1024px){
  .payment-tabs .course-form .btn-dark,
  .payment-tabs .course-form input{
    width: 30%;
  }
  .course-reviews .slider-det-cont{
    width: 100%;
  }
}
@media (max-width: 768px){
 
  .detail-course{
    .container{
      flex-direction: column-reverse;
    }
    .l-section .course-duration{
      padding-right: 0;
      &:after{     
          content: "";
          display: block;
          height: 100%;
          width: 100%;
          position: absolute;
          right: -100%;
          top: 0;
          background: #bb6cac;      
      }
    }
  }

  .detail-course .container .l-section, .detail-course .container .r-section{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .page-wrap--detail-course .detail-course .r-section .title-img{
    z-index: 10;
    position: absolute;
    width: 70%;
    right: 0;
    bottom: -15px;
    margin-bottom: 0;
    padding: 15px 20px;
    &:after{
      display: none;
    }
  }
  .page-wrap--detail-course .detail-course .r-section .img-container{
   
    max-width: initial;
    min-width: initial;
    width: 100%;
  }
  .teachers .container{
    flex-direction: column;
    .l-section{
      width: 100%;
     .list-teachers li.active:after{
       display: none;
     }
    }
    .r-section{
      width: 100%;
      .teacher-view{
        flex-direction: column;
      }
    }
  }
  .price-course{
    .container{
      flex-direction: column;
      .l-section,
      .r-section{
        width: 100%;
        margin: 15px 0 15px;
      }
      .l-section{
        &:after{
          content: "";
          display: block;
          width: 2%;
          height: 100%;
          position: absolute;
          left:100%;
          top: 0;
          background: #f1f1f1;
        }
      }
      .r-section{
        flex-direction: column;
        margin: 15px 0 0px;
        .l-block{
          width: 100%;
        }
      }
    }
  }
  .tabs-element .l-section{
    margin-top: 25px;
  }
  .g-questions-course{
    padding-bottom: 0;
  }
  .tabs-element .l-section{
    width: 100%;
    padding-right: 0;
  }
  .tab-content form input:not([type=submit]){
    width: 90%;
    margin: 0 auto 15px;
  }
  #pills-tabContent.tab-content .tab-pane{
    height: auto;
  }
  .payment-tabs .r-section{
    display: block;
  }
  .payment-tabs .l-section{
    margin-top: 0;
  }
  .tabs-element .nav-pills{
    margin-bottom: 25px;
  }
  .payment-tabs .tab-content .tab-body{
    flex-direction: column;
    form{
      margin: 0 auto;
      text-align: center;
    }
  }
  .teachers .list-teachers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    li{
      display: inline-block;
      margin-right: 15px;
    }
  }
  .teachers{
    padding-bottom: 15px;
    padding-top: 30px;
    .img-container{
      max-width: initial;
      width: 100%;
      height: auto;
      margin-right: 0;
      display: flex;
      justify-content: flex-start;      
      align-items: flex-end;
      flex-direction: row-reverse;
      position: relative;
      &:after{
        display: none;
      }
      img{
        position: relative;
        z-index: 10;
        margin-right: 25px;
        max-width: 115px;
        height: auto;
      }
      .mob-only{
        
        padding: 20px 170px 15px 20px;
        background: #BB6CAC;
        color: #fff;    
        z-index: 1;
        width: 100%;
        position: absolute;
        .name-teacher{
          color: #fff;
        }
        svg,path{
          fill: #fff;
        }
      }
      
    }
    .biography{
      margin-top: 20px;
      .l-social,
      .name-teacher{
        display: none;
        
      }
    }
  } 
  .tabs-element.payment-tabs{
    padding-bottom: 10px;
  }
  .payment-tabs .course-form .btn-dark{
    width: 90%;
  }
  .tabs-element .nav-item a{
    padding-left: 10px;
  }
  .detail-course .l-section .course-duration *, .detail-course .l-section .desc-det-course{
    font-size: 16px;
  }
  .page-wrap--detail-course .detail-course .l-section .course-duration .term {
    padding-right: 20px;
    margin-right: 20px;
  }
  .det-program-course .item-number{
    min-width: 40px;
    height: 40px;
    width: 40px;
    font-size: 16px;
  }
  .det-program-course .list-items{
    padding-right: 0;
  }
  #pills-profile .tab-body>div{
    margin-bottom: 20px;
  }
  .tabs-element {
    padding-bottom: 60px;
  }
  .course-reviews .slider-det-cont .rw-slider-item{
    min-height: auto;
    padding: 15px 20px 15px;
    width: calc(100% - 30px)!important;
    margin: 10px 15px 18px;
  }
  
  .price-course .r-section{
    padding-top: 0;
  }
  .g-questions{
    padding-top: 30px;
  }
  .course-detail-slider .slick-slide{
    padding-top: 0;
    &.slick-center {
      max-width: 470px;
      width: auto;
      height: auto;
      padding-top: 0;
  }
  }
  .detail-course .l-section{
    padding-top: 50px;
  }
  .course-reviews .slider-det-cont .slick-list {
    padding-left: 0;
  }
  .teachers .block-title, .teachers .r-section .name-teacher{
    font-size: 16px;
    line-height: 1.2;
    color: #3E3B3D;
  }
  .teachers .block-title{
    font-size: 20px;
    line-height: 1.2;
    color: #3E3B3D;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  .price-course .l-section .text-info .sale{
    font-size: 18px;
  }
  .price-course .l-section .text-info{
    font-size: 14px;
    line-height: 1.2;
  }
  .price-course .l-section .block-title{
    font-size: 20px;
  }
  .price-course .l-section .btn-dark{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .price-course .l-section{
    padding-right: 0;
  }
  .price-course .l-section{
    padding-top: 30px;
  }
  .price-course .r-section .l-block p.price{
    font-size: 22px;
    line-height: 25px;
  }
  .price-course .r-section .r-block *{
    font-size: 14px;
  }
  .price-course .r-section .r-block .price-private{
    display: block;
    font-size: 16px;
    font-family: $mb;
    font-weight: 600;
    color: #000;
    margin-top: 15px;
  }

  .tabs-mob{
    .nav-link{
      margin-bottom: 10px;
    }
    .schedule .tab-body{
      display: flex;
      flex-direction: column;
      margin-left: -3px;
      
        .w-day-course {
          padding-left: 19px;
          margin-bottom: 20px;
          padding-top: 15px;
          margin-top: 0;
          border-left: 5px solid #bb6cac;
        }
        .c-schedule {
          -ms-flex-item-align: start;
          align-self: flex-start;
          margin-left: 18px;
      }
      
    }
    .address  .tab-body{
      flex-direction: column;
      .tab-body__map{
        border-left: 5px solid #bb6cac;
        padding-left: 20px;
      }
    }
    .address{
      .tab-pane{
        margin-left: -3px;
      }
    }
    .l-section{
      margin-left: 11px;
    }
  }

  .teachers-mob .l-section-mob .teachers-link{
    margin-bottom: 0;
  }
  .teachers .list-teachers li{
    margin-bottom: 5px;
  }
  .course-reviews .block-title{
    font-size: 20px;
  }
  .teachers .list-teachers li{
    margin-right: 0;
  }
  .teachers-mob{
    padding-top: 5px;
    .teachers-link{
      position: relative;
      margin-bottom: 10px;
      font-family: $mb;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: #3e3b3d;
      cursor: pointer;
      &.active{
        font-weight: 600;
        color: #bb6cac;
      }
    }
    .teachers-item{
      &.active{
        .teachers-link{
          font-weight: 600;
          color: #bb6cac;
          margin-bottom: 5px;
        }
      }
      &:first-child{
        .teacher-view{
         // display: block;
        }
      }
    }
    .l-section-mob{
      .text-biog{
        font-family: $mb;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #000;
      }
      .name-teacher{
        font-size: 16px;
        line-height: 1.2;
      }
      .teachers-link{
        margin-bottom: 0px;
      }
      .teacher-view{
        display: none;
      }
      .img-container{
        background: #bb6cac;
        padding: 10px;
        position: relative;
        justify-content: space-between;
        padding-right: 20px;
        .mob-only{
          padding-top: 0;
        }
        img{
         /* position: absolute;
          right: 0;
          bottom: 0;*/
          margin-bottom: -10px;
          margin-right: 0;
        }
      } 
      .name-wrap{
       
        svg, path{
          fill: #fff;
        }
        .name-teacher{
          font-size: 16px;
          line-height: 1.2;
          color: #fff;
        }
      }
    }
    .list-teachers li.active:after{
      display: none;
    }
  }
  .course-reviews .rotate-ttl{
    margin-bottom: 60px;
  }
  .payment-tabs .r-section p{
    font-size: 14px;
    text-align: left;
    margin-left: 14px;
  }
  .payment-tabs .course-form .btn-dark, .payment-tabs .course-form .reviews-head button.active, .reviews-head .payment-tabs .course-form button.active{
    margin-bottom: 15px;
  }
  .payment-tabs .tab-pane{
    margin-top: 10px;
  }
  
  .teachers.teachers-desk{
    display: none;
  }
  
  .teachers.teachers-mob{
    display: block;    
  }

}

@media (min-width: 769px){
  .payment-tabs-desk,
  .teachers.teachers-desk{
    display: block;
  }
  .payment-tabs-desk{
    .min-part-title{
      display: inline-block;
      margin-left: 14px;
    }
  }
  .teachers.teachers-mob{
    display: none;
  }
 
}

.payment-tabs-mob{
  display: none;
}

@media (max-width: 768px){
  .page-wrap--corporate-course{
    .detail-course{
      .container{
        .l-section{
          padding-top: 0;
          .block-title{
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: 20px;
          }
          .course-duration{
            font-size: 16px;
          }
        }
        .r-section{
          justify-content: flex-start;
          .img-container{
            max-width: 100%;
          }
        }
      }
        
    }
    
  }
  .course-reviews .review-slider-det .nav-slider{
    right: 9px;
  }
}

@media (max-width: 767px){
  .course-reviews .slider-det-cont,
  .payment-tabs-desk{
    display: none;
  }
  .payment-tabs-mob{
    display: block;
  }
  .desc-only{
    display: none;
  }
  .mob-only{
    display: block;
  }
  .tabs-element .l-section {
    margin-top: 10px;
  }
  .detail-course .container .r-section{
    height: 240px;
    .img-container{
      height: 100%;      
      overflow: hidden;
      img{
        position: absolute;
        top: 0;  
        height: auto;
      }
      
    }
  }
  .detail-course{
    .container{
      flex-direction: column;
    }
  }
  .page-wrap--detail-course .detail-course .r-section .title-img p{
    font-weight: 500;
  }
  .det-program-course .item-number{
    margin-right: 15px;
  }
  .det-program-course .list-items{
    margin-bottom: 10px;
  }
  .det-program-course .name-item, .det-program-course .text-item{
    font-size: 15px;
  }
  .det-program-course .block-title{
    font-size: 18px;
  }
  .detail-course .l-section .desc-det-course{
    font-size: 14px;
  }
  .detail-course .l-section .course-duration{
    margin-bottom: 20px;
  }
  .detail-course .l-section .desc-det-course{
    margin-bottom: 20px;
  }
  .tabs-element .nav-item a:after{
    width: 7px;
    left: -5px;
  }
  .tabs-element .argument{
    font-size: 14px;
  }
  .tabs-element .l-section{
    margin-top: 0;
  }
  .tab-content .date-start, .tab-content .street, .tab-content .time-start{
    font-size: 18px;
  }
  .course-reviews .block-title{
    margin-bottom: 5px;
  }
  .course-reviews .slider-det-cont .rw-slider-item:nth-of-type(n+4){
    display: none;
  }
 
}

@media (max-width: 560px){
  .course-reviews .review-slider-det .nav-slider{
    position: absolute;
    left: auto;
    right: -8px;
    bottom: 0;
    z-index: 10;
    &.nav-slider-mob{
      bottom: auto;
      top: 13px;
    }
  }

  .tabs-element .container{
    padding: 30px 25px 0;
  }
  .detail-course .container{
    padding: 0 0px;
    .l-section{
      padding: 50px 25px 0;
    }
  }
  .tabs-element .container{
    padding: 25px 25px 0;
  }
  .det-program-course .container,  
  .teachers .container,
  .price-course .container,
  .payment-tabs .container{
    padding: 0 25px;
  }
}
@media (max-width: 480px){
  .course-reviews .review-slider-det .nav-slider{
    position: absolute;
    left: auto;
    right: 2px;
    bottom: 0;
    z-index: 10;
  }
}

@media (min-width: 320px) and (max-width: 425px){
  .course-reviews .review-slider-det .nav-slider{
    position: absolute;
    left: auto;
    right: 2px;
    bottom: 0px;
    z-index: 10;
  }
}