.footer {
  padding: 0 35px;
  width: 100%;
  @media (max-width: 800px) {
    padding: 0 25px;
  }

  @media (min-width: 576px) {
    //padding: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 43px 0;
    @media (max-width: 1024px) {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .f-left-block {
    margin-right: 0;
    width: 100%;

    @media (min-width: 576px) {
      margin-right: 30px;
      width: 50%;
    }
  }

  .footer-ttl {
    margin-bottom: 10px;
    font-family: $mb, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    @media (max-width: 768px) {
      margin-top: 0;
    }
    @media (min-width: 576px) {
      font-size: 24px;
    }
  }

  .f-subscribe {
    ._subsc,
    input[name="s-field"] {
      display: inline-block;
      width: 100%;
      max-width: none;
      height: 39px;
      margin-top: 0;
      margin-right: 0;
      padding: 11px;
      background: #ffffff;
      border: 1px solid #000000;
      box-sizing: border-box;
      font-family: $mb;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 39px;
      color: #000000;
      font-family: "Montserrat-Regular";
      @include placeholder {
        margin-top: 0px;
        font-family: $gr;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1;
        color: #000000;
        font-family: "Montserrat-Regular";
      }

      @media (min-width: 576px) {
        margin-right: 23px;
        width: 387px;
        max-width: 387px;
      }
    }

    .scrb-btn {
      max-width: 127px;
      margin-top: 15px;
      padding: 10px;
      font-size: 14px;
      font-family: $gr, sans-serif;
      font-weight: 600;
    }
  }

  .social-link {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.2s linear;
    margin-top: 22px;
    @media (max-width: 915px) {
      margin-top: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .f-right-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;

    @media (min-width: 768px) {
      width: 42%;
    }

    > div {
      margin-right: 23px;
    }

    .f-phone {
      margin-right: 0;
    }

    .f-phone a {
      display: block;
      font-family: $pr;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      text-decoration: none;

      @media (min-width: 576px) {
        font-size: 16px;
    }
    }
  }
}


@media (max-width: 767px){
  .footer .f-subscribe .scrb-btn{
    margin-bottom: 20px;
  }
}