.site-header {
  padding-top: 42px;
  
 
  @media (min-width: 1200px) {
    padding-top: 53px;
    
  }
  @media (max-width: 420px) {
    padding-top: 17px;
  }
  .logo-container {
    @media (max-width: 420px) {
      width: 106px;
    }
  }
  .header-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 0;
    &.container::before {
      display: none;
    }
    .right-part {
      display: flex;
      flex-wrap: wrap;
    }
    .logo-container{
      max-width: 170px;
      @media (max-width: 1200px) {
        margin-left: 15px;
      }
    }
  }

  &__right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    padding: 0 24px 0 0;
    width: 251px;
    height: 100%;
    background: #ffffff;

    transition: all 0.3s ease;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
 

    &-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      visibility: hidden;
      width: 100%;
      height: 100%;
      background: #3e3b3d;
      opacity: 0;
    }

    &--open {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease;

      &.site-header__right-overlay {
        position: fixed;
        z-index: 1;
        visibility: visible;
        opacity: 0.5;
        transition: opacity 0.3s ease;
      }
    }

    @media (min-width: 1200px) {
      position: static;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: auto;
      background: transparent;
      transform: translateX(0);
      margin-left: 70px;
      opacity: 1;
      visibility: visible;
    }
  }

  &__close {
    position: absolute;
    top: 6px;
    left: -30px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #000000;
    transition: background-color 0.2s;
    text-indent: -9876px;
    opacity: 0;
    transition: opacity 1.5s, background-color 0.2s;
    cursor: pointer;
    visibility: hidden;

    @media (min-width: 1200px) {
      display: none;
    }

    &::before,
    &::after {
      position: absolute;
      top: 5px;
      width: 2px;
      height: 12px;
      border-radius: 2px;
      background-color: #fff;
      content: "";
    }

    &::before {
      left: 10px;
      transform: rotate(-45deg);
    }

    &::after {
      right: 11px;
      transform: rotate(45deg);
    }
    &:hover {
      background-color: #f00;
    }

    @at-root .site-header__right--open & {
      visibility: visible;
      opacity: 1;
    }
  }

  &__close-inner {
    position: absolute;
    top: 2px;
    right: 16px;
    z-index: 20;
    width: 38px;
    height: 15px;
    cursor: pointer;

    @media (min-width: 1200px) {
      display: none;
    }

    span {
      position: absolute;
      top: 0;
      right: 0;
      width: 38px;
      height: 3px;
      background-color: #3e3b3d;
      text-indent: -9564px;
      transition: 0.2s linear;
      font-size: 0;
      color: transparent;

      @at-root .site-header__close-inner:hover span {
        background-color: #f00;
      }

      &::before,
      &::after {
        position: absolute;
        right: 0;
        height: 3px;
        background-color: #3e3b3d;
        content: "";
      }

      &::before {
        top: 6px;
        width: 30px;
        transition: 1s linear;

        @at-root .site-header__close-inner:hover span::before {
          background-color: #f00;
        }
      }

      &::after {
        top: 12px;
        width: 22px;
        transition: 1.8s linear;

        @at-root .site-header__close-inner:hover span::after {
          background-color: #f00;
        }
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin: 87px 0 24px 0;

    @media (min-width: 1200px) {
      display: block;
      margin: 0;
    }
  }

  .menu-item {
    margin-bottom: 15px;
    font-family: $mr;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #000000;
    transition: all 0.2s linear;

    &:hover {
      color: #bb6cac;
    }

    @media (min-width: 1200px) {
      display: inline-block;
      position: relative;
      margin-right: 28px;
      padding-bottom: 5px;
      font-family: $mr;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $bmt;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $bmt;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $pd;
        transition: all 0.2s linear;
      }

      &:hover:after {
        width: 60%;
      }
    }
    @media (max-width: 1200px){
      &.active{
        color: #bb6cac;
      }
    }
  }

  .menu-item.active:after {
    width: 60%;
  }

  .lang-switch {
    position: absolute;
    top: 22px;
    left: 18px;
    order: -1;
    margin-left: auto;
    margin-right: 10px;
    @media (min-width: 1200px) {
      position: static;
      order: 0;
      margin-right: 26px;
    }

    .lang-link {
      font-family: Montserrat;
      // font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #000000;

      @media (min-width: 1200px) {
        display: inline-block;
        padding-left: 4px;
        font-family: $mm;
        // font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $bm;
        transition: all 0.2s linear;
      }

      &:hover {
        font-weight: 600;
      }

      &.active {
        font-weight: 600;
      }

      &:first-child {
        padding-left: 0;
        padding-right: 11px;
        border-right: 1px solid $bmt;

        @media (min-width: 1200px) {
          padding-right: 8px;
        }
      }
    }
  }

  .order-call {
    margin-top: 4px;
    a {
      display: block;
      text-align: right;
      font-size: 16px;
      line-height: 19px;
      
      @media (min-width: 1200px) {
        text-align: center;
      }

    }

    .order-call-btn {
      margin-top: 0;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

.site-header__close-inner:hover span, .site-header__close-inner:hover span::after, .site-header__close-inner:hover span::before, .site-header__close:hover {
  background-color: #bb6cac;
}