#review-modal,
#order-call-modal {
  .modal-content {
    width: 100%;
    max-width: 420px;
    padding: 60px 42px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    .form-ttl{
      font-family: $mr;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.005em;
      color: #000000;
      margin-bottom: 22px;
    }

    input:not([type="submit"]){
      display: block;
      width: 100%;
      height: 47px;
      padding: 10px;
      margin-bottom: 20px;
      background: #FFFFFF;
      border: 1px solid $bmt;
      box-sizing: border-box;
      font-family: $mm;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: $bmt;
      text-align: center;

      @include placeholder{
        font-family: $mm;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.005em;
        color: $bmt;
        text-align: center;
      }
    }

    .btn-dark{
      width: 100%;
      height: 47px;
    }
  }
}

.review-modal{
  h3{
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    &:after {
        content: '';
        display: block;
        width: 60%;
        height: 4px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #bb6cac;
    }
  }
  p {
    padding-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #9b9898;
  }
  .review-content {
    position: relative;
    padding-bottom: 0;
    padding-left: 22px;
    color: #000;
    line-height: 1.4;
    &:after,
    &:before {
      width: 20px;
      height: 20px;
      position: absolute;
      font-family: "Gelasio-Regular",sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 51px;
      color: #bb6cac;
    }
    &:before {
      content: '“';
      left: 0;
      top: 0;
    } 
    &:after {
      content: '“';
      bottom: 0;  
      transform: rotate(180deg);
    }
  }
  
}

.success-form-modal{
  .popup__wrapper .form-ttl{
    margin-bottom: 0;
    font-size: 21px;
    line-height: 1.4;
  }
}