$speed: 0.6s;
$delay: ($speed * .5);
$easing: cubic-bezier(.55, 0, .1, 1);

.popUp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: opacity $speed $easing, visibility $speed $easing;
  background-size: cover;
  z-index: 100002;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 570px;
    max-height: 370px;
    height: 100%;
    padding: 12px;
    box-shadow: 0 7px 68px rgba(75, 72, 90, 0.32);
    border-radius: 22px;
    background-color: #ffffff;
    z-index: 9999;
  }
}