.g-questions {
  position: relative;
  padding-top: 66px;
  padding-bottom: 330px;
  border-bottom: 4px solid #f1f1f1;

  @media (max-width: 460px) {
    padding-bottom: 273px;
  }

  @media (min-width: 992px) {
    padding-bottom: 80px;
  }

  .container {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
    position: absolute;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;

    @media (min-width: 992px) {
      //padding-left: 58px;
      padding-left: 0;
    }
  }

  .q-slider-item {
    width: 100%;
    max-width: 340px;
    height: 370px;
    padding-right: 19px;

    img {
      height: 100%;
    }
  }

  .slick-dots {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    padding-right: 28px;
    list-style: none;

    > li.slick-active {
      background-color: $pp;
    }

    > li {
      width: 12px;
      height: 12px;
      background-color: #e2e2e2;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;

      button {
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  .form-o-course {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;

    max-width: 440px;
    background: #f1f1f1;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    // padding: 50px 40px;
    padding: 12px 30px 33px;
    pointer-events: initial;

    @media (min-width: 460px) {
      // padding: 12px 30px 33px;
    }

    @media (min-width: 992px) {
      margin: 0;
      padding: 50px 40px;
    }

    * {
      text-align: center;
    }

    input {
      display: block;
      width: 100%;
      max-width: 262px;
      height: 41px;
      margin-bottom: 22px;
      font-family: $mb, sans-serif;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: 460px) {
        font-size: 16px;
      }
    }

    .btn-def {
      font-weight: 600;
     // color: #000;
    }

    .input-field {
      padding: 8px;
      font-weight: normal;
      color: #696969;
      line-height: 41px;
      border: 0;
    }

    .form-ttl {
      font-family: $mb, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 10px;

      @media (min-width: 460px) {
        font-size: 22px;
      }
    }

    .text-form {
      margin-bottom: 25px;
      font-family: $mb, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #000000;

      @media (min-width: 460px) {
        font-size: 16px;
      }
    }
  }
  &-course{
    border-bottom: 0;
    padding-bottom: 0;
  }
}

#pills-partial .r-section{
  margin-top: -60px;
}

@media (max-width: 1024px){
  .g-questions .q-slider-item{
    padding-right: 5px;
  }
  #pills-partial .r-section{
    margin-top: 0;
  }
}

@media (max-width: 480px){
  .g-questions .q-slider-item{
    height: 220px;
  }
  .g-questions .form-o-course{
    margin-top: 70px;
  }
}