.mentors {
  background: linear-gradient(90deg, #f2f2f2 0%, #f3f3f3 46%);
  background-position: right bottom;
  background-repeat: no-repeat;
  //background-size: cover;

  .container {
    // padding-top: 75px;
    // padding-bottom: 120px;

    > p {
      max-width: 679px;
      margin-bottom: 43px;
      font-family: $mm;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 39px;
      color: $bmt;
    }
  }
  .imagin-container {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    a {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      height: 380px;
      
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.46456589471726186) 0%, rgba(255,255,255,0) 57%); 
      z-index: 1;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .text-link {
        font-family: $mb;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        color: #fff;
        width: 100%;
        padding-bottom: 14%;
      }
      &:nth-of-type(2){
        margin: 0 30px;
      }
    }
  }
  .block-title {
    max-width: 679px;
    margin-bottom: 30px;
  }

  .sub-item-mentors {
    width: 100%;
    max-width: 288px;
    height: 258.52px;
    margin-right: 22px;
    margin-bottom: 27px;

    .details-mentor {
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, .8);
      padding: 10px 10px 10px 20px;
      margin-top: -20px;
      position: relative;
    }


    .container-img {
      width: 236px;
      height: 217px;
      border-radius: 2px;
      overflow: hidden;

      img {
        height: 100%;
        object-fit: cover;
        border-radius: 2px;
      }
    }

    .details-mentor {
      * {
        font-family: $mr;
        font-style: normal;
        font-size: 16px;
        color: $bm;
      }

      .name-mentor {
        font-weight: 600;
        line-height: 20px;
      }

      .posada {
        font-weight: normal;
        line-height: 19px;
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .slider-mentors{
    max-width: 622px;
    margin-left: 38px;
  }

  .item-sl-mentors{
    display: flex;
    flex-wrap: wrap;
  }

  .wrap-slider-mentors{
    position: relative;

    .nav-slider{
      position: absolute;
      left: 0;
      bottom: 28px;
    }
  }
}


@media (max-width: 767px) {
  .mentors .imagin-container a {
    flex: 1 0 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 250px;
    margin:0 0 15px 0;
    &:nth-of-type(2){
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 15px;
    }
    img {
        object-position: 0 0;
      
    }
  }
  .popup__wrapper{
    padding: 30px !important;
  }
}