.student-reviews {
  .container {
    position: relative;
    padding-bottom: 180px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 518px;
      height: 506px;
      background-color: $gm;
      z-index: 0;
    }
  }

  .wrap-content {
    z-index: 2;
  }

  .block-title {
    margin-bottom: 22px;
  }

  .container-content {
    display: flex;

    .container-left-block {
      display: flex;
      flex-wrap: wrap;

      .wrap-link-review{
        display: flex;
        width: 100%;
        margin-top: 11px;

        svg{
          width: 25px;
          height: 25px;
          display: inline-block;
          margin-right: 6px;
        }

        a{
          font-family: $mr;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 18px;
          /* Black / Main Title */
          color: $bmt;
        }
      }
    }

    .container-rw-image {
      max-width: 432px;
      height: 647px;

      img {
        height: 100%;
      }
    }
  }

  .container-review-slider {
    position: absolute;
    right: -20px;
    width: calc(100% - 290px);

    @media (max-width: 1220px) {
      .review-slider-top{
        display: none;
        .rw-slider-item {
          width: 40%;
        }
      }
      .rw-slider-item {
        width: 30.332%;
        height: auto;
      }
     
    }
    .nav-slider{
      position: absolute;
      left: -38px;
      bottom: 29px;
    }

    .container-item {
      display: flex !important;
      flex-wrap: wrap;
      padding-top: 25px;
      width: 100%;
    }

    div.item-transparent{
      background-color: transparent;
      box-shadow: none;
    }

    .rw-slider-item{
      position: relative;
      height: 355px;
      .btn-def{
        @media (min-width: 769px){
          position: absolute;
          bottom: 12px;
        }
       
      }
    }

  }
}
.buttons-view-r {
  display: none;
}

@media (max-width: 1024px) {
  .student-reviews .container-review-slider {
    width: calc(100% - 200px);
  }
  .screen-1 .slogan {
    max-width: 504px;
  }
  .student-reviews .review-slider{
    margin-top: 285px;
  }
  .rotate-ttl{
    padding-bottom: 0;
  }
  .student-reviews .block-title{
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .student-reviews .container {
    overflow: auto;
  }
  .student-reviews .container-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: visible;
    .block-title {
      display: none;
    }
    .container-left-block {
      width: 100vw;
      left: -15px;
      position: relative;
    }
    .container-rw-image {
      height: auto;
      width: 100vw;
      position: relative;
      max-width: 100vw;
      
      height: 60vw;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: 0 -14vw;
      }
    }
  }
  .container-left-block {
    width: 100%;
  }
  .student-reviews .container-review-slider {
    position: static;
    width: 100%;
  }
  .wrap-link-review {
    padding-left: 15px;
  }
}

.reviews{
  .nav-slider{
    display: none;
  }
}

@media (max-width: 768px) {
  .student-reviews .container-review-slider div.item-transparent {
    display: none;
  }
  .student-reviews .container-review-slider .rw-slider-item {
    width: calc(100% - 39px);
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .student-reviews .container {
    padding-left: 0;
    padding-right: 0;
  }
  .student-reviews .container-content .container-left-block {
    width: 100vw;
    left: 0px;
    position: relative;
  }
  .student-reviews .container-review-slider .container-item {
    h3 {
      width: 58%;
      &:after{
        width: 30%;
        bottom: 5PX;
      }
    }
    p:not(.review-content) {
      width: 42%;
      font-size: 12px;
    }
    .review-content {
      width: 100%;
      display: flex;
      justify-content: space-between;

    }
  }
  

  .student-reviews .block-title {
    padding: 0 15px;
  }
  .student-reviews .container {
    padding-bottom: 29px;
  }
  .student-reviews .container-review-slider{
    width: calc(100% - 70px);
    margin: 0 auto;
    .nav-slider{
      position: absolute;
      left: auto;
      right: 15px;
      bottom: 27px;
      z-index: 10;
    }
  }
  .student-reviews .slick-slider.review-slider  .rw-slider-item{
    &:last-child{
    //  margin-bottom: 0;
    }
    &:nth-of-type(4),
    &:nth-of-type(5){
      display: none;
    }
  }
  .student-reviews .review-slider {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .reviews{
    .reviews-head{
      .bt-container{
        text-align: center;
        margin-bottom: 15px;
      }
    }
    .slick-slide{
    
    }
    .rw-slider-item{
      margin: 0 10px !important;
    }
    .container{
      position: relative;
    }
    .nav-slider{
      display: block;
      position: absolute;
      right: 6px;
      bottom: 27px;
    }
    .reviews-page{
      width: calc(100% - 25px);
      margin: 0 auto;
      padding: 0;
      .reviews-item{
        padding: 10px;
      }
      
    }

  }
  .reviews-page-nav.nav-slider{
      bottom: 15px;
    }
    

    
}


@media (max-width: 560px) {
  .student-reviews .block-title {
    padding: 0 30px;
  } 
  .reviews-page-nav.nav-slider.nav-slider-mob{
    bottom: auto;
    top: 13px;

  }
}



@media (max-width: 480px) {
  .wrap-link-review {
    margin-left: 0;
    padding-left: 0;
    &.hide-m {
      display: none !important;
    }
  }
  .buttons-view-r {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0;
    .wrap-link-review{
      font-size: 13px;
      font-family: $mb;
      font-weight: 600;
    }

  }
  .student-reviews .container-review-slider{
    width: calc(100% - 30px);
  }
  .student-reviews .container-review-slider .nav-slider{
    bottom: 75px;
    right: 5px;
  }
  .btn-next, .btn-prev, .btn-slider{
    width: 28px !important;
    height: 28px !important;
  }
}

@media (max-width: 375px){
  .student-reviews .container-review-slider .nav-slider {
    bottom: 75px;
  }
  .btn-next, .btn-prev, .btn-slider{
    width: 24px !important;
    height: 24px !important;
  }
}

@media (max-width: 360px) {
  .buttons-view-r {
    .btn-def {
      padding: 10px 10px;
      line-height: 14px;
    }
    .wrap-link-review {
      a {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 320px){
  .student-reviews .container-review-slider .nav-slider {
    bottom: 67px;
  }
  .student-reviews .container-review-slider .container-item p:not(.review-content){
    font-size: 9px;
  }
  .rw-slider-item h3 {
    font-size: 12px;
  }
}