.screen-1 {
  position: relative;
  padding-bottom: 250px;
  background: #f0f0f0;
  //background: #f0f0f0 url("../img/andre.png") center bottom no-repeat;
  @media (max-width: 420px) {
    padding-bottom: 108px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 63%;
    background: #ebebeb;
    z-index: 0;
    pointer-events: none;
  }

 /* &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../img/andre.png") center bottom no-repeat;
    z-index: 0;
    pointer-events: none;
  }*/

  .img-section{
    position: absolute;
    right: 125px;
    top: -150px;
    width: 480px;
    img{
      width: 100%;
    }
  }
  .site-header {
    position: relative;
  }


  > .container {
    position: relative;
    margin-top: 109px;
    z-index: 12;
  }

  .slogan {
    max-width: 604px;
    width: 100%;
    margin-bottom: 24px;
    font-family: $ac;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 70px;
    letter-spacing: 0.005em;
    color: $bm;

    span {
      display: block;
      span{
        display: inline-block;
        margin-left: 1px;
      }
    }
  }

  .ac-desc {
    max-width: 674px;
    margin-bottom: 42px;
    font-family: $mm;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* Black / Main Title */
    color: $bmt;
  }
  .bt-container{
    .btn-dark{
      margin-right: 15px;
    }
  }
}
@media (max-width: 1024px) {
  .screen-1{

    .info-section{
      position: relative;
      z-index: 10;
    }
    .screen-1 .img-section{
      z-index: 1;
    }
  }
  
}

@media (max-width: 768px) {
  .screen-1{
    padding-bottom: 35px;
    .slogan {
      max-width: 370px !important;
    }
    &>.container{
      padding: 0 20px;
    }
  }
  .site-header .header-items .logo-container {
    margin-left: 20px;
  }
  .site-header__close-inner{
    right:31px;
  }
}

@media (max-width: 700px) {
  .screen-1 .slogan {
    font-size: 34px;
    line-height: 45px;
    max-width:195px;
    font-weight: bold;
    margin-bottom: 70px;
  }
  .screen-1 .ac-desc {
    display: none;
  }
  .screen-1 {
    .bt-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      button {
        margin-bottom: 29px;
        font-weight: bold;
        padding: 13px 17px;
        &.btn-dark {
          padding: 13px 30px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .screen-1::after {
    height: 100%;
    background: url(../img/andre.png) calc(50% + -23px) 50% no-repeat;
    background-size: 135vh;
  }
  .screen-1 .slogan {
    max-width: 56%;
  }

  .screen-1 .img-section{
    right: 0;
  }

}

@media (max-width: 768px){
  .screen-1 .img-section {
    position: absolute;
    right: 0;
    top: -180px;
    width: 425px;
  }
  .screen-1 .ac-desc{
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .screen-1>.container {
    padding: 0 25px;
  }
  .site-header .header-items .logo-container {
    margin-left: 25px;
  }

}
@media (max-width: 480px) {
  .screen-1 .img-section {
    right: 15px;
    width: 54%;
    z-index: 1;
  }
  .screen-1{
    padding-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .screen-1 .img-section {
    right: 11px;
    width: 60%;
    top: -130px;
  }
  .screen-1 .slogan {
    max-width: 65%!important;
    position: relative;
    z-index: 10;
}
}


@media (max-width: 420px) {

  .screen-1::after {
    height: 100%;
    background: url(../img/andre.png) calc(50% + -13vw) 10% no-repeat;
    background-size: 104vh;
  }
}

@media (max-width: 375px) {
  .screen-1 .img-section {
    right: 0px;
    width: 65%;
    top: -125px;
    z-index: 1;
}

}

@media (max-width: 320px){
  .screen-1 .img-section {
      right: 0;
      width: 64%;
      top: -70px;
      z-index: 1;
  }
  .screen-1>.container{
    margin-top: 40px;
  }
  .screen-1 .bt-container button.btn-dark{
    padding: 13px 10px;
    margin-bottom: 15px;
  }
  .screen-1 {
    padding-bottom: 60px;
  }
  .screen-1 .bt-container button{
    padding: 13px 15px;
  }
}