.screen-2 {
  position: relative;
  margin-top: 0px;
  padding-bottom: 66px;
  padding-top: 70px;
  //&:before {
  //  content: '';
  //  display: block;
  //  width: 100%;
  //  height: 95px;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  background-color: #ffffff;
  //  z-index: 1000;
  //}

  .container {
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      max-width: 507px;
      max-height: 523px;
      position: absolute;
      left: 168px;
      top: 62px;
      background-color: $gm;
      z-index: 0;
    }
  }

  .wrap-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
  }

  .part-desc {
    width: 33.3333%;
    min-width: 280px;
  }

  .text-desc {
    max-width: 345px;
  }

  .container-slider-course {
    display: flex;
    width:100%;
    flex-wrap: wrap;
    min-width: 280px;
    justify-content: space-between;
    .deck-slider{
      width: 32%;
      margin-top: 150px;
      h2{
        font-size: 37px;
        margin-bottom: 30px;
        font-family: $mb;
        font-weight: 600;
      }
      p{
        font-size: 16px;
        color:#3E3B3D;
        letter-spacing: 0.02em;
        line-height: 1.5;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .slid-wrap{
      width: 65%;
    }
    
    .nav-slider {
      align-self: flex-end;
    }

    .slider-course {
      width: calc(100% - 38px);
      //width: 100%;
      margin-bottom: -24px;
    }

    .slider-item {
      display: flex;
      align-items: flex-end;
      position: relative;
      width: 50%;
      max-width: 48%;
      height: 400px;
      overflow: hidden;
      transition: all .2s linear;
      margin-bottom: 24px;

      &:hover {
        .more-course-el {
          display: none;
          opacity: 0;
        }

        .more-course {
          bottom: 0;
        }
      }
      &:nth-child(1) {

      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  div.more-course-el {
    display: flex;
    align-items: center;
    min-height: 62px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    transition: all .2s linear;
    padding: 10px 28px;
    color: #ffffff;

    .title-course {
      font-weight: 600;
      font-family: $mb;
      font-size: 17px;
      line-height: 20px;
    }
  }

  .slider-pre-wrap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .more-course {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    padding: 28px 28px 40px;
    background-color: rgba(0, 0, 0, 0.66);
    transition: all .2s linear;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;

    * {
      font-family: $mr;
      font-style: normal;
      font-weight: normal;
      color: #ffffff;
      /* identical to box height */
      letter-spacing: 0.02em;
      transition: all .2s linear;
    }

    .type-course {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 8px;
      transition: all .2s linear;
    }

    .title-course {
      font-weight: 600;
      font-family: $mb;
      font-size: 17px;
      line-height: 20px;
      padding-bottom: 15px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ffffff;
    }

    .duration-training {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }

      span.duration {
        font-weight: 600;
        font-family: $mb;
        font-size: 15px;
        line-height: 18px;
      }
    }

    .desc-training {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }

  }

  .wrap-slider-item {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  
}

.mob-only{
  display: none;
}


@media (max-width: 768px) {
  .screen-2 .wrap-slider-item {
    flex-direction: column;
  }
  .screen-2 .container-slider-course .slider-item {
    width: 100%;
    max-width: 100%;
    height: 90vw;
  }
  .screen-2 .container-slider-course .nav-slider {
    position: absolute;
    right: -10px;
  }
  .screen-2 .container-slider-course{
    flex-direction: column-reverse;
    .slid-wrap,
    .deck-slider{
      width: 100%;
      .block-title{
        padding-left: 15px;
      }
    }
   .slider-course {
      width: calc(100% - 37px);
      margin: 0 auto -24px;
    }
    .deck-slider{      
      width: calc(100% - 40px);
      margin: 20px auto ;
      h2{
        display: none;
      }
      p{
        font-size: 15px;
      }
    }
  }
  .mob-only{
    display: block;
  }
  .screen-2 .container:before{
    display: none;
  }
  .site-header__right{
    .container-button{
      margin-top: 25px;
    }
  }

  .screen-2 .more-course{
    padding: 20px;
    .title-course{
      
      margin-top: 15px;
      padding-bottom: 0;
      margin-bottom: 18px;
    }
    .duration-training span.duration{
      width: 35%;
    }
  }

}
@media (max-width: 480px) {
  .screen-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .screen-2 .container-slider-course .slider-item{
    height: 90vw;
  }
  .screen-2 .more-course {
    //padding: 10px;
}

}

@media (max-width: 420px) {
  .screen-2 .more-course {
    bottom: 0;
    transform: translateY(100%);

  }
  .details-programs .container-details:hover .more-course,
  .screen-2 .container-slider-course .slider-item:hover .more-course {
    bottom: 0;
    transform: translateY(0%);
  }
  .screen-2 .container-slider-course .slider-item {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .screen-2 .more-course {
    padding: 10px;
}
}