.popup
  &__wrapper
    width: 100%
    max-width: 420px
    padding: 60px 42px
    background: #FFFFFF
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2)
    border-radius: 3px
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    .close
      width: 35px
      height: 35px
      position: absolute
      right: 0
      top: -40px
      border-radius: 70%
      background: #ffffff url(../img/close-btn.png) no-repeat center center
      background-size: 110%
      z-index: 1000000
      opacity: 1
      border: 2px solid #000
    .form-ttl
      font-family: $mr
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 22px
      letter-spacing: 0.005em
      color: #000000
      margin-bottom: 22px
      margin-top: 0px
      text-align: center
    

    input:not([type="submit"])
      display: block
      width: 100%
      height: 47px
      padding: 10px
      margin-bottom: 20px
      background: #FFFFFF
      border: 1px solid $bmt
      box-sizing: border-box
      font-family: $mm
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.005em
      color: $bmt
      text-align: center

      @include placeholder
        font-family: $mm
        font-style: normal
        font-weight: 500
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.005em
        color: $bmt
        text-align: center
      
    

    .btn-dark
      width: 100%
      height: 47px
    
.success-form-modal
  .popup__wrapper
    padding-top: 60px
    padding-bottom: 60px
  h3
      font-family: $mr
      font-style: normal
      font-weight: bold
      font-size: 21px
      line-height: 28px
      letter-spacing: 0.005em
      color: #000000
      margin-top: 0px
      text-align: center
      margin-bottom: 0