.popup-video
  &__main
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 100%
    +r($mob-md)
      left: calc(50% - 11.5px)
      width: calc(100% - 42px)
  &__wrapper
    width: 60%
    padding-bottom: 33.5%
    position: relative
    margin: 13.5% auto
    +r($desktop-sm)
      width: 80%
      padding-bottom: 44.67%
      margin: auto
    +r($tablet-sm)
      width: 100%
      padding-bottom: 55.83%
  &__video
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    display: none
    outline: none
    &.is-active
      display: block
      overflow: hidden