
{% import "data/reviews.html" as reviews %}
		
 
<div class="container">
  <div class="reviews-body reviews-page">
		{% for item in reviews.reviews %}
    <div class="reviews-item {% if reviewTypeVideo %}video{% endif %}">
      <div class="rw-slider-item">
        <h3>{{item.title}}</h3>
        <p class="reviews-descr">{{item.descr}}</p>
        
        {% if videoText %}
        <p class="review-content no-quote">{{item.textSmall | safe}}</p>
        {% else %}
        <p class="review-content">{{item.text}}</p>
        {% endif %}
        {% if video %} 
        <button data-video="{{item.youtube}}" class="btn-def js-show-video"> <span class="icon icon-ytb"><svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.19238 12.4671L12.6079 10.5L9.19238 8.53285V12.4671Z" fill="black"/>
          <path d="M10.5 0C4.7019 0 0 4.7019 0 10.5C0 16.2981 4.7019 21 10.5 21C16.2981 21 21 16.2981 21 10.5C21 4.7019 16.2981 0 10.5 0ZM17.0609 10.5107C17.0609 10.5107 17.0609 12.6402 16.7908 13.667C16.6394 14.2291 16.1962 14.6722 15.6342 14.8235C14.6073 15.0938 10.5 15.0938 10.5 15.0938C10.5 15.0938 6.4034 15.0938 5.36584 14.8127C4.80379 14.6615 4.36063 14.2182 4.20923 13.6561C3.93894 12.6402 3.93894 10.5 3.93894 10.5C3.93894 10.5 3.93894 8.37071 4.20923 7.34388C4.36047 6.78184 4.81453 6.32778 5.36584 6.17654C6.39267 5.90625 10.5 5.90625 10.5 5.90625C10.5 5.90625 14.6073 5.90625 15.6342 6.18727C16.1962 6.33852 16.6394 6.78184 16.7908 7.34388C17.0718 8.37071 17.0609 10.5107 17.0609 10.5107Z" fill="black"/>
          </svg>
          </span> Смотреть видео отзыв</button>
        {% endif %}
        
      </div>
    </div>
    {% endfor %}
    
  </div>
  <div class="nav-slider">
    <button class="btn-prev slick-arrow" style="">
      <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.23984 0.503656C5.43986 0.303632 5.75476 0.303632 5.95479 0.503656C6.14806 0.696923 6.14806 1.01858 5.95479 1.2114L2.32957 4.83662H14.2923C14.5712 4.83662 14.8 5.05827 14.8 5.33713C14.8 5.616 14.5712 5.84485 14.2923 5.84485H2.32957L5.95479 9.46332C6.14806 9.66334 6.14806 9.98545 5.95479 10.1783C5.75476 10.3783 5.43986 10.3783 5.23984 10.1783L0.7564 5.69484C0.563133 5.50157 0.563133 5.17991 0.7564 4.98709L5.23984 0.503656Z" fill="black"></path>
      </svg>
    </button>
    <button class="btn-next slick-arrow" style="">
      <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.81022 0.963392L9.81063 0.963805L13.4359 4.58903L14.2894 5.44258H13.0823H1.11956C1.11652 5.44258 1.11489 5.44311 1.11397 5.44349C1.11358 5.44365 1.11322 5.44383 1.11289 5.44402C1.11262 5.44417 1.11236 5.44434 1.11213 5.4445C1.11247 5.44524 1.11326 5.44655 1.11468 5.44797C1.11623 5.44952 1.11764 5.45031 1.11833 5.45061C1.11867 5.45075 1.1188 5.45081 1.11956 5.45081H13.0823H14.291L13.4355 6.3047L9.81582 9.91765C9.81393 9.92001 9.81213 9.9238 9.81213 9.92945C9.81213 9.93063 9.81222 9.93157 9.81233 9.93226C9.81321 9.93303 9.81386 9.9335 9.81426 9.93376L9.81527 9.93434C9.81529 9.93435 9.81499 9.93425 9.81455 9.93425C9.81438 9.93425 9.81424 9.93426 9.81412 9.93428L9.81484 9.93376C9.81547 9.93334 9.81672 9.93243 9.81848 9.93067L14.3019 5.44724L14.6555 5.80079L14.3019 5.44724L14.3023 5.44701L14.3019 5.4466L9.81848 0.963167C9.81672 0.96141 9.81547 0.960496 9.81484 0.960077L9.81384 0.959499C9.81387 0.95951 9.81415 0.959595 9.81455 0.959595C9.81495 0.959595 9.81523 0.959511 9.81527 0.959499L9.81426 0.960077C9.81364 0.960496 9.81239 0.961409 9.81063 0.963167L9.81022 0.963392Z" fill="white" stroke="white"></path>
      </svg>
    </button>
  </div>
  <div class="reviews-footer">
    <button class="btn-def">Больше отзывов</button>
  </div>
</div>