<div class="reviews-head">
  <div class="container">
    <div class="text-desc semibold">О нас говорят</div>
    <div class="bt-container">
      <button class="btn-def {% if reviewType %}active{% endif %} ">Отзывы</button><button class="btn-def {% if reviewTypeVideo %}active{% endif %}">Видео отзывы</button>
    </div>
  </div>
</div>
